//
// Variables

// Brand
$gray-base:                           #000;
$gray-darker:                         lighten($gray-base, 13.5%); // #222
$gray-dark:                           lighten($gray-base, 20%);   // #333
$gray:                                lighten($gray-base, 33.5%); // #555
$gray-light:                          lighten($gray-base, 46.7%); // #777
$gray-lighter:                        lighten($gray-base, 93.5%); // #eee
$light:                               #fff;

$brand-primary:                       #d63c89;
$brand-success:                       #1ca51c;
$brand-info:                          #2ab1e0;
$brand-warning:                       #fff600;
$brand-danger:                        #c72034;


// Variables -> Core
// Base
$base-font-family:                    Arial, sans-serif;
$base-font-family-serif:              "Times New Roman", serif;
$base-font-size:                      13px;
$base-font-weight:                    400;
$base-line-height:                    1.428571429;
$base-color:                          #2a2a2a;
$base-background:                     #fff;

// Link
$link-color:                          $gray-base;
$link-hover-color:                    $base-color;
$link-decoration:                     none;



// Variables -> Modules
// Typography
$font-size-base:                      $base-font-size !default;
$font-size-large:                     ceil(($base-font-size * 1.3076)) !default; // ~17px
$font-size-medium:                    ceil(($base-font-size * 1.1538)) !default; // ~15px
$font-size-small:                     ceil(($base-font-size * 0.8461)) !default; // ~11px


$font-size-h1:                        floor(($base-font-size * 1.7692)); // ~23px
$font-size-h2:                        floor(($base-font-size * 1.6923)); // ~22px
$font-size-h3:                        ceil(($base-font-size * 1.1538)); // ~15px
$font-size-h4:                        $base-font-size;
$font-size-h5:                        $base-font-size;
$font-size-h6:                        ceil(($base-font-size * 0.85)); // ~12px

$line-height-base:                    1.428571429;
$line-height-computed:                floor(($base-font-size * $line-height-base)); // ~22px
$line-height-computed-half:           floor(($base-font-size * $line-height-base) / 2); // ~11px


$headings-font-family:                inherit !default;
$headings-font-weight:                700 !default;
$headings-line-height:                1.3 !default;
$headings-color:                      #4a4a4a !default;


// Grid
$screen-sm:                           480px;
$screen-sm-min:                       $screen-sm;
$screen-phone:                        $screen-sm-min;

$screen-md:                           768px;
$screen-md-min:                       $screen-md;
$screen-tablet:                       $screen-md-min;

$screen-lg:                           992px;
$screen-lg-min:                       $screen-lg;
$screen-desktop:                      $screen-lg-min;

$screen-xlg:                          1310px;
$screen-xlg-min:                      $screen-xlg;
$screen-xlg-desktop:                  $screen-xlg-min;

$screen-xs-max:                       ($screen-sm-min - 1) !default;
$screen-sm-max:                       ($screen-md-min - 1) !default;
$screen-md-max:                       ($screen-lg-min - 1) !default;

// Number of columns in the grid system
$grid-columns:                        12;
$grid-gutter-width:                   30px;


// Small screen / tablet
$container-mobile:                    (440px + $grid-gutter-width);
$container-sm:                        $container-mobile;

// Small screen / tablet
$container-tablet:                    (720px + $grid-gutter-width);
$container-md:                        $container-tablet;

// Medium screen / desktop
$container-desktop:                   (940px + $grid-gutter-width);
$container-lg:                        $container-desktop;

// Large screen / wide desktop
$container-large-desktop:             (1280px + $grid-gutter-width);
$container-xlg:                        $container-large-desktop;

// Btn
$btn-font-weight:                     400;

$btn-default-color:                   #333 !default;
$btn-default-bg:                      #fff !default;
$btn-default-border:                  #ccc !default;

$btn-primary-color:                   #fff !default;
$btn-primary-bg:                      $brand-primary !default;
$btn-primary-border:                  darken($btn-primary-bg, 5%) !default;

$btn-success-color:                   #fff !default;
$btn-success-bg:                      $brand-success !default;
$btn-success-border:                  darken($btn-success-bg, 5%) !default;

$btn-info-color:                      #fff !default;
$btn-info-bg:                         $brand-info !default;
$btn-info-border:                     darken($btn-info-bg, 5%) !default;

$btn-warning-color:                   #fff !default;
$btn-warning-bg:                      $brand-warning !default;
$btn-warning-border:                  darken($btn-warning-bg, 5%) !default;

$btn-danger-color:                    #fff !default;
$btn-danger-bg:                       $brand-danger !default;
$btn-danger-border:                   darken($btn-danger-bg, 5%) !default;

// Padding
$padding-base-vertical:               6px;
$padding-base-horizontal:             12px;

$padding-large-vertical:              10px;
$padding-large-horizontal:            16px;

$padding-small-vertical:              5px;
$padding-small-horizontal:            10px;

$padding-xs-vertical:                 1px;
$padding-xs-horizontal:               5px;

$line-height-large:                   1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:                   1.5;

$border-radius-base:                  5px;
$border-radius-large:                 2px;
$border-radius-small:                 0;

$btn-border-radius-base:              $border-radius-base;
$btn-border-radius-large:             $border-radius-large;
$btn-border-radius-small:             $border-radius-small;


// Type
$blockquote-small-color:              $gray-light;
$blockquote-font-size:                ($base-font-size * 1.25);
$blockquote-border-color:             $gray-lighter;


// Breadcrumbs
$breadcrumb-padding-vertical:         15px;
$breadcrumb-padding-horizontal:       0;
$breadcrumb-bg:                       #f5f5f5;
$breadcrumb-color:                    #4a4a4a;
$breadcrumb-active-color:             #b2b2b2;
$breadcrumb-separator:                "/";


// Pagination
$pagination-color:                    #818181;
$pagination-bg:                       #fff;
$pagination-border:                   #fff;

$pagination-hover-color:              #fff;
$pagination-hover-bg:                 $brand-success;
$pagination-hover-border:             $brand-success;

$pagination-active-color:             #fff;
$pagination-active-bg:                $brand-success;
$pagination-active-border:            $brand-success;

$pagination-disabled-color:           $gray-light;
$pagination-disabled-bg:              #fff;
$pagination-disabled-border:          #ddd;


// Pager
$pager-bg:                            $pagination-bg;
$pager-border:                        $pagination-border;
$pager-border-radius:                 15px;
$pager-hover-bg:                      $pagination-hover-bg;
$pager-active-bg:                     $pagination-active-bg;
$pager-active-color:                  $pagination-active-color;
$pager-disabled-color:                $pagination-disabled-color;


// Tables
$table-cell-padding:                  8px;
$table-condensed-cell-padding:        5px;

$table-bg:                            #fff;
$table-bg-accent:                     #f9f9f9;

$table-bg-hover:                      #f5f5f5;
$table-bg-active:                     $table-bg-hover;

$table-border-color:                  #e1e1e1;


//== Navbar
$navbar-height:                       50px;
$navbar-margin-bottom:                $line-height-computed;
$navbar-border-radius:                $border-radius-base;
$navbar-padding-horizontal:           floor(($grid-gutter-width / 2));
$navbar-padding-vertical:             19px;
$navbar-collapse-max-height:          340px;

$navbar-default-color:                #777;
$navbar-default-bg:                   #f8f8f8;
$navbar-default-border:               darken($navbar-default-bg, 6.5%);

// Navbar toggle
$navbar-default-toggle-hover-bg:      #ddd;
$navbar-default-toggle-icon-bar-bg:   #888;
$navbar-default-toggle-border-color:  #ddd;

// Navbar links
$navbar-default-link-color:           #777;
$navbar-default-link-hover-color:     #333;
$navbar-default-link-hover-bg:        transparent;
$navbar-default-link-active-color:    #555;
$navbar-default-link-active-bg:       darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:  #ccc;
$navbar-default-link-disabled-bg:     transparent;


// Navs
$nav-link-padding:                     12px 15px;
$nav-link-hover-bg:                    #757575;

$nav-tabs-active-link-hover-bg:        $base-background;
$nav-tabs-active-link-hover-color:     $gray;
$nav-tabs-active-link-hover-border-color: #ddd;

$nav-tabs-justified-link-border-color:  #ddd;
$nav-tabs-justified-active-link-border-color: $base-background;


// Form states and table
$input-bg:                             #fff !default;
$input-bg-disabled:                    #f5f5f5 !default;

$input-color:                          $gray !default;
$input-border:                         #ccc !default;

$input-border-radius:                  $border-radius-base !default;
$input-border-radius-large:            $border-radius-large !default;
$input-border-radius-small:            $border-radius-small !default;

$input-border-focus:                   $brand-primary  !default;
$input-color-placeholder:              #999 !default;

$input-height-base:                    ($line-height-computed + ($padding-base-vertical * 2) + 5) !default;
$input-height-large:                   (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2) !default;
$input-height-small:                   (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2) !default;


$input-group-addon-bg:                 $gray-lighter !default;
$input-group-addon-border-color:       $input-border !default;


$state-primary-text:                   $brand-primary !default;
$state-primary-bg:                     $brand-primary !default;
$state-primary-border:                 darken(adjust-hue($state-primary-bg, -10), 5%) !default;

$state-success-text:                   $brand-success !default;
$state-success-bg:                     $brand-success !default;
$state-success-border:                 darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                      #7f7f7f !default;
$state-info-bg:                        $brand-info !default;
$state-info-border:                    darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:                   $brand-warning !default;
$state-warning-bg:                     $brand-warning !default;
$state-warning-border:                 darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:                    $brand-danger !default;
$state-danger-bg:                      $brand-danger !default;
$state-danger-border:                  darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$form-group-margin-bottom:             15px !default;

$legend-color:                         $gray-dark !default;
$legend-border-color:                  #e5e5e5 !default;

//** Disabled cursor for form controls and buttons.
$cursor-disabled:                      not-allowed;

//-- Z-index master list
$zindex-navbar:                        1000;
$zindex-navbar-fixed:                  1030;
$zindex-modal-background:              1040;
$zindex-modal:                         1050;
$zindex-popover:                       1060;


$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Variables -> Components

// Navbar

//== Alerts
//
//## Define alert colors, border radius, and padding.

$alert-padding:               16px 16px 16px 55px !default;
$alert-border-radius:         5px !default;
$alert-link-font-weight:      400 !default;

$alert-success-bg:            #daf5e7 !default;
$alert-success-text:          #04be5b !default;
$alert-success-border:        #04be5b !default;

$alert-info-bg:               #d9ecf9 !default;
$alert-info-text:             #0e89d8 !default;
$alert-info-border:           #0082d5 !default;

$alert-warning-bg:            #fff0e4 !default;
$alert-warning-text:          #ff9948 !default;
$alert-warning-border:        #ff9948 !default;

$alert-danger-bg:             #f8e1e7 !default;
$alert-danger-text:           #d2335c !default;
$alert-danger-border:         #d2335c !default;



$close-font-weight:           bold !default;
$close-color:                 #000 !default;
$close-text-shadow:           none !default;


//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding:         15px !default;

//** Padding applied to the modal title
$modal-title-padding:         15px !default;
//** Modal title line-height
$modal-title-line-height:     $line-height-base !default;

//** Background color of modal content area
$modal-content-bg:                             #fff !default;
//** Modal content border color
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
//** Modal content border color **for IE8**
$modal-content-fallback-border-color:          #999 !default;

//** Modal backdrop background color
$modal-backdrop-bg:           #000 !default;
//** Modal backdrop opacity
$modal-backdrop-opacity:      .5 !default;
//** Modal header border color
$modal-header-border-color:   #e5e5e5 !default;
//** Modal footer border color
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    900px !default;
$modal-md:                    470px !default;
$modal-sm:                    300px !default;


//== Tabs
$nav-tabs-border-color:                     #ddd !default;

$nav-tabs-link-hover-border-color:          $gray-lighter !default;

$nav-tabs-active-link-hover-bg:             $base-background !default;
$nav-tabs-active-link-hover-color:          $gray !default;
$nav-tabs-active-link-hover-border-color:   #ddd !default;

$nav-tabs-justified-link-border-color:            #ddd !default;
$nav-tabs-justified-active-link-border-color:     $base-background !default;
// Variables -> Partials

// Header

//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          #fff !default;
//** Popover maximum width
$popover-max-width:                   276px !default;
//** Popover border color
$popover-border-color:                rgba(0,0,0,.2) !default;
//** Popover fallback border color
$popover-fallback-border-color:       #ccc !default;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default;

//** Popover arrow width
$popover-arrow-width:                 10px !default;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg !default;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;


// Variables -> Pages

// Home