.col.col-lg-3.col-xs-12
    form.filter(action='', method='post', role='form')
        .filter__item
            .filter__item-title
                h5 Цена
            .filter__item-body
                ul.list--inline.text--center.margbot20
                    li.col-xs-6: input#start.form-control(type="text", class="start", placeholder="от")
                    li.col-xs-6: input#end.form-control(type="text", class="end", placeholder="до")
                #rangeSlider.margbot20
        .filter__item
            .filter__item-title
                h5 Наличие
            .filter__item-body
                .radio
                    input(type="radio", id="adata1", name="test", checked)
                    label(for="adata1") Все
                .radio
                    input(type="radio", id="corsair1", name="test")
                    label(for="corsair1") В наличии
                .radio
                    input(type="radio", id="iconik1", name="test")
                    label(for="iconik1") Под заказ
        .filter__item
            .filter__item-title
                h5 Цвет
            .filter__item-body
                .checkbox
                    input(type="checkbox", id="adata2")
                    label(for="adata2") Красный
                .checkbox
                    input(type="checkbox", id="corsair2")
                    label(for="corsair2") Желтый
                .checkbox
                    input(type="checkbox", id="iconik2")
                    label(for="iconik2") Розовый
                .checkbox
                    input(type="checkbox", id="adata3")
                    label(for="adata3") Фиолетовый
                .checkbox
                    input(type="checkbox", id="corsair3")
                    label(for="corsair3") Белый
                .collapse__elem
                    .collapse__elem-title.text--right
                        a.text--sm.text--default(href="#")
                            img.margright30(src="images/arrow-down-icon--2.png", alt="")
                            |  показать еще
                    .collapse__elem-body
                        .checkbox
                            input(type="checkbox", id="corsair4")
                            label(for="corsair4") Опал
                        .checkbox
                            input(type="checkbox", id="iconik4")
                            label(for="iconik4") Топаз
        .filter__item
            .filter__item-title
                h5 Тип Букета
            .filter__item-body
                .checkbox
                    input(type="checkbox", id="adata12")
                    label(for="adata12") Нежный
                .checkbox
                    input(type="checkbox", id="corsair12")
                    label(for="corsair12") Яркий
        .filter__item
            .form-group
                button.btn.btn--primary.btn--block.btn--md(type="reset") Найти
            .form-group
                button.btn.btn--default.btn--block.btn--md(type="submit") Очистить фильтр
