.modal.fade(id='modal-busket')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close-busket.png", alt="")
                h1.modal-title Товар добавлен в корзину
            .modal-body
                .img--left
                    img(src="images/product-mini.jpg", alt="")
                p: b Букет «Римские каникулы»
                p: b Цена 12 890 р.
                .clearfix
                ul.list--inline
                    li
                        a.btn.btn--info.btn--ico(href="#")
                            img(src="images/arrow-left-icon.png", alt="")
                            | Продолжить покупки
                    li
                        a.btn.btn--success.btn--ico.btn--ico2(href="#")
                            img(src="images/busket-icon.png", alt="")
                            | Перейти в корзину

.modal.fade(id='modal-text')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true'): img(src="images/close-busket.png", alt="")
                h1.modal-title Спасибо за ваш отзыв!
            .modal-body
                .img--left
                    img(src="images/like-icon.png", alt="")
                p.text--md Нам очень важно, чтобы вы были довольны
                    br
                    | качеством оказания услуг.
                .clearfix