nav.navbar-list
    ul.list--inline.margbot0.text--center
        li.mainNav.pull-left
            b.text--uppercase Каталог цветов и букетов
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav
                    each href, item in navbar
                        li: a(href="#{href}", title="#{item}")= item
        li.secondNav.hidden--sm.hidden--xs
            button.visible--md.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex2-collapse')
                span.sr-only Меню
                .pull-right
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .collapse.navbar-collapse.navbar-ex2-collapse
                ul.list--inline.visible--md.visible--lg.visible--xlg
                    li
                        a(href="#")
                            i: img(src="images/icons/ico--nav1.png", alt="")
                            | КАК ЗАКАЗТЬ
                        ul.secondNav-sub
                            li: a(href="#") Оплата
                            li: a(href="#") Оплата
                            li: a(href="#") Оплата
                    li
                        a(href="#")
                            i: img(src="images/icons/ico--nav2.png", alt="")
                            | ОПЛАТА
                    li
                        a(href="#")
                            i: img(src="images/icons/ico--nav3.png", alt="")
                            | ДОСТАВКА
            ul.list--inline.hidden--sm.hidden--xs.hidden--md
                li
                    a(href="#")
                        i: img(src="images/icons/ico--nav1.png", alt="")
                        | КАК ЗАКАЗТЬ
                    ul.secondNav-sub
                        li: a(href="#") Оплата
                        li: a(href="#") Оплата
                        li: a(href="#") Оплата
                li
                    a(href="#")
                        i: img(src="images/icons/ico--nav2.png", alt="")
                        | ОПЛАТА
                li
                    a(href="#")
                        i: img(src="images/icons/ico--nav3.png", alt="")
                        | ДОСТАВКА
        li.searchNav.pull-right
            form.navbar-form(role='search')
                input.form-control(type='text', placeholder='Поиск')
                button.btn.btn-default(type='submit'): img(src="images/icons/ico--search.png", alt="")