.text--center
    ul.pagination
        li
            a(href='#') &larr;
        li.active
            a(href='#') 1
        - for (var x = 2; x < 5; x++)
            li.hidden--xs.hidden--sm
                a(href='#')= x
        li
            a(href='#') ...
        li
            a(href='#') 29
        li
            a(href='#') &rarr;