//
// Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {

  .breadcrumb {
    display: none;
    @media (min-width: $screen-sm-min) {
      display: block;
      padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal 0;
      margin-bottom: 0;
      list-style: none;
      //background-color: $breadcrumb-bg;
      //border-radius: $border-radius-base;
      font-weight: 700;
      text-transform: uppercase;

      > li {
        display: inline-block;

        + li:before {
          content: " | ";
          padding: 0 5px;
          color: $breadcrumb-color;
        }
      }

      > .active {
        color: $breadcrumb-active-color;
      }
    }
  }
}