//
// Modules -> Navbars
// --------------------------------------------------


.navbar {
  position: relative;
  min-height: $navbar-height;
  //margin-bottom: $navbar-margin-bottom;
  //border: 1px solid transparent;

  // Prevent floats from breaking the navbar
  @include clearfix;

}


// Navbar collapse (body)
.navbar-collapse {
  overflow-x: visible;
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  //padding-right: $navbar-padding-horizontal;
  //padding-left: $navbar-padding-horizontal;
  border-top: 1px solid transparent;
  z-index: 11;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  @include clearfix;
  -webkit-overflow-scrolling: touch;

  &.in {
    overflow-y: auto;
  }

  @media (min-width: $screen-sm-min) {
    //width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      //display: block !important;
      //height: auto !important;
      //padding-bottom: 0; // Override default setting
      //overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }
  }
  li {
    @media (max-width: $screen-sm-max) {
      padding: 5px;
    }
    > a {
      background: $brand-primary;
      border: 1px solid #fff;
      @include border-radius(25px);
      color: #fff;
      font-weight: 700;
      &:hover,
      &:focus {
        background-color: #fff;
        color: $brand-primary;
      }
      @media (min-width: $screen-md-min) {
        @include border-radius(0);
        background: #4a4a4a;
        border: none;
        &:hover,
        &:focus {
          background-color: $nav-link-hover-bg;
        }
      }
    }
  }
  .nav {
    @media (max-width: $screen-sm-max) {
      background: $brand-primary;
    }
  }
}

.container{
  > .navbar-header,
  > .navbar-collapse {
    margin-right: -$navbar-padding-horizontal;
    margin-left:  -$navbar-padding-horizontal;

    @media (min-width: $screen-sm-min) {
      margin-right: 0;
      margin-left:  0;
    }
  }
}


.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: $zindex-navbar-fixed;

  // Undo the rounded corners
  @media (min-width: $screen-sm-min) {
    border-radius: 0;
  }
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

// Navbar toggle
.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 5px;
  padding: 8px 10px 9px;
  @include navbar-vertical-align(34px);
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style
  border: 1px solid transparent;
  border-radius: $border-radius-base;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 4px;
    border-radius: 1px;
    background: #fff;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: $screen-sm-min) {
    //display: none;
  }
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: -$navbar-padding-horizontal;

    ~ .navbar-right {
      margin-right: 0;
    }
  }
}

.navbar-brand {
  float: left;
  padding: $navbar-padding-vertical $navbar-padding-horizontal 40px 0;
  font-size: $font-size-large;
  line-height: $line-height-computed;
  //height: $navbar-height;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  > img {
    display: block;
  }

  @media (min-width: $grid-float-breakpoint) {
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: -$navbar-padding-horizontal;
    }
  }
}

.navbar-nav {
  margin: ($navbar-padding-vertical / 2) (-$navbar-padding-horizontal);

  > li > a {
    padding-top:    10px;
    padding-bottom: 10px;
    text-decoration: underline;
    font-size: 11px;
    line-height: $line-height-computed;
  }
  // Uncollapse the nav
  @media (min-width: $screen-sm-min) {
    //float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
      }
    }
  }
}


.navbar-header {
  @include clearfix;

  @media (min-width: $grid-float-breakpoint) {
    float: left;
  }
}

.navbar-default {
  background-color: $navbar-default-bg;
  border-color: $navbar-default-border;
  .navbar-nav {
    > li > a {
      color: $navbar-default-link-color;

      &:hover,
      &:focus {
        color: $navbar-default-link-hover-color;
        background-color: $navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-active-color;
        background-color: $navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-default-link-disabled-color;
        background-color: $navbar-default-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse {
    border-color: $navbar-default-border;
  }
}