//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: inline-block;
    padding-left: 0;
    margin: $line-height-computed 0;
    font-size: 15px;
    > li {
      display: inline; // Remove list-style and block-level defaults
      > a,
      > span {
        position: relative;
        float: left; // Collapse white-space
        padding: 13px 13px;
        line-height: $line-height-base;
        width: 50px;
        height: 50px;
        text-decoration: none;
        color: $pagination-color;
        background-color: $pagination-bg;
        border: 1px solid $pagination-border;
        border-radius: 5px;
        margin: 2px;
        @media (min-width: $screen-md-min) {
          margin: 5px;
        }
      }
      @media (min-width: $screen-md-min) {
        &:first-child {
          > a,
          > span {
            //margin-left: 0;
            //@include border-left-radius($border-radius-base);
            width: 100px;
          }
        }
        &:last-child {
          > a,
          > span {
            //@include border-right-radius($border-radius-base);
            width: 100px;
          }
        }
      }
    }

    > li > a,
    > li > span {
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    > .active > a,
    > .active > span {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }

    > .disabled {
      > span,
      > span:hover,
      > span:focus,
      > a,
      > a:hover,
      > a:focus {
        color: $pagination-disabled-color;
        background-color: $pagination-disabled-bg;
        border-color: $pagination-disabled-border;
        cursor: $cursor-disabled;
      }
    }
  }
}
