//
// Modules -> Tables
// --------------------------------------------------


table {
  background-color: $table-bg;
}
caption {
  padding-top: $table-cell-padding;
  padding-bottom: $table-cell-padding;
  text-align: left;
}
th {
  text-align: left;
}


@if $use-table == true {
  // Baseline styles
  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 13px;
    //border: 1px solid $table-border-color;
    tr {
      &:first-child {
        td {
          border-top: 0;
          &:nth-child(2) {
            text-align: left;
          }
        }
      }
      > th,
      > td {
        padding: 20px $table-cell-padding;
        line-height: $line-height-base;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
        //border-right: 1px solid $table-border-color;
        text-align: center;
        &:first-child {
          text-align: left;
        }
      }
    }
    &.tableOne {
      tr {
        > td {
          vertical-align: middle;
        }
      }
    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: middle;
      text-align: center;
      //font-weight: 500;
      padding: $table-cell-padding;
      color: #4a4a4a;
      //border-bottom: 2px solid $table-border-color;
      background-color: #eceaea;
      border: none;
    }
    // Account for multiple tbody instances
    > tbody + tbody {
      border-top: 2px solid $table-border-color;
    }
    .table {
      background-color: $base-background;
    }
  }
  &.tableBusket {
    > td:not(:first-child) {
      padding: 30px $table-cell-padding;
    }
  }
  // Condensed table w/ half padding
  .table--condensed {
    tr {
      > th,
      > td {
        padding: $table-condensed-cell-padding;
      }
    }
  }

  // Bordered version
  .table--bordered {
    border: 1px solid $table-border-color;
    tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
    > thead > tr {
      > th,
      > td {
        border-bottom-width: 2px;
      }
    }
  }

  // Zebra-striping
  .table--striped {
    > tbody > tr:nth-of-type(odd) {
      background-color: $table-bg-accent;
    }
  }

  // Hover effect
  .table--hover {
    > tbody > tr:hover {
      background-color: $table-bg-hover;
    }
  }



  // Responsive tables
  .table-responsive {
    overflow-x: auto;
    min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)

    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
      margin-bottom: ($line-height-computed * 0.75);
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid $table-border-color;

      > .table {
        margin-bottom: 0;

        > thead,
        > tbody,
        > tfoot {
          > tr {
            > th,
            > td {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  // Table cell sizing
  //
  // Reset default table behavior

  table col[class*="col-"] {
    position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    float: none;
    display: table-column;
  }
  @if $use-column-table == true {
    /* col and colgroup
      <colgroup>
        <col class=t10>
        <col class=t10>
        <col class=t10>
        <col>
      </colgroup>*/
    .t5 {
      width: 5%
    }
    .t10 {
      width: 10%
    }
    .t12 {
      width: 12.5%
    }
    /* 1/8 */
    .t15 {
      width: 15%
    }
    .t20 {
      width: 20%
    }
    .t25 {
      width: 25%
    }
    /* 1/4 */
    .t30 {
      width: 30%
    }
    .t33 {
      width: 33.333%
    }
    table {
      td,
      th {
        &[class*="col-"] {
          position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
          float: none;
          display: table-cell;
        }
      }
    }

    // Cell alignments
    [colspan] {
      text-align: center;
    }
    [colspan="1"] {
      text-align: left;
    }
    [rowspan] {
      vertical-align: middle;
    }
    [rowspan="1"] {
      vertical-align: top;
    }
    .numerical {
      text-align: right;
    }

    // Table backgrounds
    @if $use-color-table == true {
      @include table-row-variant('active', $table-bg-active);
      @include table-row-variant('success', $state-success-bg);
      @include table-row-variant('info', $state-info-bg);
      @include table-row-variant('warning', $state-warning-bg);
      @include table-row-variant('danger', $state-danger-bg);
    }
  }
}