footer.site-footer
	.container
		.copyright
			b.text--uppercase= index.footer
			span Cалон магазин цветов в Санкт-Петербурге.
				br
				| Заказ цветов, продажа цветов оптом, продажа
				| букетов.
		.menu
			ul.list--unstyled
				li: a(href="#") Карта сайта
				li: a(href="#") Гарантии
		.text--center.padtop20.padbot20.pull--sm--right
			a(href="http://www.dev.trinet.ru", target="_blank"): img(src="images/logo-trinet.png", alt="")