header.site-header
    .headerTop
        .container
            nav.navbar
                .navbar-header
                    a.navbar-brand.hidden--xs.hidden--sm(href='/'): img(src="images/logo.png", alt="")
                    a.navbar-brand.visible--xs.visible--sm(href='/'): img(src="images/logo-mobile.png", alt="")
                    .menuHead.visible--xs
                        button.navbar-toggle.mainmenu--js(type='button')
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    a.visible--xs(href="#").text--uppercase.busketHead.busketHead-mobile 21
                .mainmenublock--js
                    a.close--js(href="#"): img(src="images/close-busket.png", alt="")
                    ul.nav
                        li
                            a(href='#') Адреса магазинов
                        li
                            a(href='#') Контакты
                        li
                            a(href='#') Сайт компании
                        li
                            a(href='#') Адреса магазинов
                        li
                            a(href='#') Контакты
                        li
                            a(href='#') Сайт компании
                .slide-overlay
                .text--center.padtop40.hidden--xs
                    ul.nav.navbar-nav.list--inline.hidden--sm.hidden--md
                        li
                            a(href='#') Адреса магазинов
                        li
                            a(href='#') Контакты
                        li
                            a(href='#') Сайт компании
                    ul.nav.navbar-nav.navbar-right
                        li.workTime.text--right
                            b: a(href="tel:88005550000").phone.text--lg
                                span.text--sm 8 (812)
                                |  600-4-300
                            p.text--info.time мы работаем с 9:00 до 21:00
                        li
                            p: a(href="#").text--uppercase.busketHead В корзине
                                b 2 товара
                    .clearfix
    .headerBottom
        .container
            include ../components/_navbar