//
// Partials -> Footer
// ------------------------------------

.site-footer {
  color: white;
  background-color: #4a4a4a;
  .copyright {
    background: #525252;
    padding: 20px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    @media (min-width: $screen-sm-min) {
      width: 277px;
    }
    span {font-size: 10px; display: block;}
  }
  .menu {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    width: 100%;
    background: #525252;
    @media (min-width: $screen-sm-min) {
      width: auto;
      background-color: #4a4a4a;
      padding: 20px 39px;
    }
    a {color: $light}
  }
}