//
// Partials -> Header
// ------------------------------------

.site-header {
  //background-color: #ccc;
}
.headerTop {
  background: #fff;
  .navbar-nav {
    display: inline-block;
  }
}
.headerBottom {
  background: #4a4a4a;
  @media (max-width: $screen-md-max) {
    .container {
      padding: 0;
    }
  }
}

.mainNav {
  background-color: $brand-primary;
  color: $light;
  vertical-align: middle;
  position: relative;
  width: 100%;
  @media (min-width: $screen-md-min) {
    width: auto;
  }
  b {
    display: inline-block;
    margin: 18px 5px;
  }
}
.secondNav {
  text-align: center;
  position: relative;
  li {
    padding: 0;
    position: relative;
    > a {
      color: #fff;
      padding: 12px 20px;
      font-weight: 700;
      display: inline-block;
      text-transform: uppercase;
      line-height: 31px;
    }
    i {
      width: 27px;
      height: 27px;
      padding: 0;
      line-height: 31px;
      margin-right: 7px;
      margin-top: -4px;
      @include border-radius(25px);
      vertical-align: middle;
      display: inline-block;
      background-color: $brand-primary;
    }
    &:hover {
      > a {
        color: $brand-primary;
        background: #525252;
      }
      .secondNav-sub{
        display: block;
      }
    }
  }
  &-sub {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    padding: 8px;
    margin: 0;
    z-index: 5;
    list-style-type: none;
    background-color: #525252;
    text-align: left;
    > li {
      > a {
        display: block;
      }
      &:not(:last-child) a {
        border-bottom: 1px solid #7d7d7d;
      }
    }
  }
  .navbar-toggle {
    width: 110px;
    text-transform: uppercase;
    color: $light;
    font-weight: 700;
    margin: 10px 0 0;
  }
}
.searchNav {
  width: 100%;
  padding: 10px 0;
  @media (min-width: $screen-md-min) {
    width: 228px;
  }
  @media (min-width: $screen-xlg-min) {
    width: 279px;
  }
  .navbar-form {
    position: relative;
  }
  input {
    @include border-radius(25px);
    height: 35px;
  }
  button {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 27px;
    height: 27px;
    padding: 0;
    line-height: 31px;
    @include border-radius(25px);
    background-color: $brand-primary;
  }
  .navbar-collapse {
    width: 220px;
  }
}

.workTime {
  .phone {
    margin-bottom: 0;
  }
  .time {
    font-size: 10px;
  }
}
.busketHead {
  margin-left: 40px;
  display: block;
  color: $light;
  background: url('../images/icons/ico--busket.png') center left 6px no-repeat, $brand-primary;
  padding: 4px 24px 4px 37px;
  border-radius: 1px 2px 2px 1px;
  p & {
    font-size: 10px;
    margin-bottom: 0;
    b {
      @extend .text--sm;
      display: block;
    }
  }
  &-mobile {
    float: right;
    width: 37px;
    height: 36px;
    padding: 4px;
    text-align: center;
    line-height: 38px;
    font-size: 12px;
    color: $brand-primary;
    margin-top: 39px;
  }
}
.menuHead {
  float: right;
  margin-top: 31px;
  margin-left: 11px;
  position: relative;
  .navbar-toggle {
    padding: 7px 6px 7px 7px;
    background: $brand-primary;
    border-radius: 1px 2px 2px 1px;
  }
  .navbar-collapse {
    left: auto;
    right: 0;
    width: 290px;
  }
}

.mainmenublock--js {
  position: fixed;
  right: -100%;
  top: 0;
  background: #525252;
  width: 80%;
  bottom: 0;
  z-index: 3000;
  padding-top: 50px;
  @include transition();
  a {
    color: $light;
    &:hover {
      background: lighten(#525252, 10%);
    }
  }
  &.active {
    right: 0;
  }
  .close--js {
    position: absolute;
    right: 10px;
    top: 10px;
    &:hover {
      background: transparent;
    }
  }
}
.slide-overlay {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  &.active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
}