//
// Partials -> Main
// ------------------------------------

main {
  padding-top: 20px;
  background: url('../images/aside-back-1.jpg') repeat-y top left, url('../images/aside-back-2.jpg') repeat-y top right, #e7e8ea;
  .page-500 & {padding-top: 0;}
}
.site-text {
  &__Inner {
    background-color: #f5f5f5;
    padding: 10px;
    @media (min-width: $screen-md-min) {
      padding: 0 20px;
      min-height: 678px;
    }
  }
  .defaultBack {
    background-color: $light;
    padding: 20px;
  }
  ul.text-list {
    list-style-type: none;
    padding: 0;
    li {
      &:before {
        content: ' • ';
        font-size: 20px;
        color: $brand-primary;
        position: relative;
        top: 4px;
      }
    }
  }
}


// mainSLider
.mainSLider {
  color: #fff;
  h1 {
    margin: 0;
    font-size: 52px;
    font-family: "Usual New Italic", sans-serif;
    color: $light;
    small {
      font-size: 22px;
      display: block;
    }
  }
  .itemInner {
    margin-left: 20%;
    padding-top: 50px;
    width: 330px;
  }
  .item {
    height: 345px;
  }
}
// mainSLider



// mainCategory
.mainCategory {
  background: $brand-primary;
  text-align: center;
  padding: 46px 71px 8px;
  &__item {
    margin-bottom: 14px;
    display: inline-block;
    color: $light;
    &-img {
      margin: 0 auto 15px;
      width: 130px;
      height: 130px;
      background-color: white;
      box-shadow: 0 2px 2px #af0a5d;
      @include border-radius(50%);
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin:auto;
      }
    }
    text-shadow: 0 2px 2px #af0a5d;
    text-transform: uppercase;
  }
}
// mainCategory



// mainCatalog
.mainCatalog {
  background: #f5f5f5;
  padding: 10px 20px;
  text-align: center;
  h2 {margin-top: 0;}
  .btn {margin-bottom: 10px;}
  @media (max-width: $screen-xs-max) {
    .text--sm {
      font-size: 9px;}
  }
  @media (min-width: $screen-md-min) {
    padding: 10px 111px;
  }
  &.catalog {
    padding: 10px 0;
    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
  }
  &-inner {
    margin-bottom: 25px;
    text-align: center;
    @media (min-width: $screen-sm-min) {
      text-align: left;
    }
  }
  &-header, &-body {
    @include clearfix();
  }
  &-header .pull-right {
    display: none;
    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }
  &__item {
    width: 100%;
    margin: auto;
    max-width: 264px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    padding: 27px 10px 19px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: -3px;
    text-align: center;
    border-top:1px solid #ccc;
    @media (min-width: $screen-sm-min) {
      width: 50%;
      height: 366px;
    }
    @media (min-width: $screen-lg-min) {
      width: 33%;
    }
    @media (min-width: $screen-xlg-min) {
      width: 25%;
    }
    .catalog & {
      text-align: center;
      max-width: 310px;
    }
    &-unique {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      background: url("../images/icons/ico--success.png") center center no-repeat;
      .unique {
        width: 22px;
        height: 18px;
        font-size: 16px;
        font-weight: 700;
        color: $light;
        border-style: solid;
        border-width: 75px 75px 0 0;
        //background: url("../images/icons/ico--success.png") center center no-repeat;
        &--ico {
          width: 22px;
          height: 18px;
          position: absolute;
          top: 13px;
          left: 17%;
        }
        &--text {
          position: absolute;
          top: 13px;
          left: 6px;
        }
        &--sucess {
          border-color: $brand-success transparent transparent transparent;
          .unique--ico {
            background: url("../images/icons/ico--success.png") center center no-repeat;
          }
        }
        &--primary {
          border-color: $brand-primary transparent transparent transparent;
          .unique--ico {
            background: url("../images/icons/ico--primary.png") center center no-repeat;
          }
        }
        &--info {
          border-color: $brand-info transparent transparent transparent;
          .unique--ico {
            width: 22px;
            height: 18px;
            //background: url("../images/icons/ico--info.png") center center no-repeat;
          }
        }
      }
    }
    &-price {
      width: 57px;
      height: 57px;
      opacity: 0.88;
      background-color: rgba(92, 165, 28, 0.88);
      color: $light;
      @include border-radius(50%);
      z-index: 5;
      position: absolute;
      right: 0;
      bottom: 15px;
      font-size: 14px;
      padding-top: 15px;
      p {margin-bottom: 0;}
      span {font-size: 8px;}
      @media (min-width: $screen-sm-min) {
        padding-top: 33px;
        width: 92px;
        height: 92px;
        font-size: 19px;
        span {font-size: $font-size-base;}
      }
      &_Sale {
        color: $brand-warning;
        padding-top: 11px;
        @media (min-width: $screen-sm-min) {
          padding-top: 21px;
        }
        p.old {
          text-decoration: line-through;
          color: $light;
          font-size: 12px;
          @media (min-width: $screen-sm-min) {
            font-size: 17px;}
          span {
            font-size: 11px;
          }
        }
      }
    }
    &-img {
      position: relative;
      width: 48%;
      margin:auto;
      overflow: hidden;
      float: left;
      @media (min-width: $screen-sm-min) {
        width: 190px;
        height: 190px;
        float: none;
      }
      .catalog & {
        height: 155px;
      }
      @media (min-width: $screen-sm-min) {
        &--opacity {
          background: url("../images/opacity.png") bottom center no-repeat;
          position: absolute;
          bottom: 0;
          height: 55px;
          width: 100%;
          z-index: 2;
        }
      }
    }
    .catalog & {
      vertical-align: top;
      padding: 20px;
      @media (min-width: $screen-sm-min) {
        height: 446px;
      }
      a:not(.btn) {
        text-decoration: underline;
        font-size: 16px;
        line-height: 1.7;
        color: #4a4a4a;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
// mainCatalog



// mainCategory
.mainCategory {
  &__item {
    &-img {

    }
  }
}
// mainCategory

// mainContacts
.mainContacts {
  text-align: center;
  padding: 20px 0;
  &__item {
    width: 100%;
    margin: auto;
    max-width: 310px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    position: relative;
    display: inline-block;
    margin-left: -3px;
    @media (min-width: $screen-md-min) {
      padding: 22px 22px 19px;
      width: 50%;
    }
    @media (min-width: $screen-xlg-min) {
      width: 25%;
    }
    @media (min-width: $screen-sm-min) {
      span {display: block;}
    }
    &-img {
    }
    &-name {
      padding: 8px;
      ul {
        vertical-align: middle;
        margin-top: 27px;
        img {
          vertical-align: middle;
          margin-right: 5px;
        }
        li {
          margin-bottom: 13px;
        }
        @media (min-width: $screen-sm-min) {
          p {
            font-size: 15px;
          }
        }
      }
      p {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}
// mainContacts


// search
.searchBar {
  padding: 0 5px;
  background: #e1e1e1;
  ul {
    margin-bottom: 0;
  }
}
.tableSearch {
  background-color: #fff;
  border: none;
  tr {
    border-bottom: 8px solid #f5f5f5;
    > td {
      border: none;
      vertical-align: middle;
      padding: 5px 8px;
    }
  }

  @media (max-width: $screen-sm-max) {
    &-img {
      display: inline-block;
      width: 30%;
    }
    &-name {
      display: inline-block;
      width: 66%;
    }
    &-price {
      display: inline-block;
      width: 30%;
      font-size: 20px;
      margin-left: 30%;
    }
    &-link {
      display: inline-block;
      width: 30%;
    }
  }
}
// search

// contacts
.map {
  display: none;
  @media (min-width: $screen-md-min) {
    margin: 0 -20px;
    display: block;
  }
}
// contacts

.page500 {
  padding-top: 20%;
  height: 100vh;
}


.review {
  border-top: 1px solid #e7e8ea;
  padding: 18px 10px;
  margin-bottom: 47px;
  &__item {
    @include clearfix();
    max-height: 64px;
    overflow: hidden;
    margin-bottom: 15px;
    @include transition(max-height .5s linear);
    @media (min-width: $screen-md-min) {
      max-height: none;
      margin-bottom: 0;
    }
    &-img {
      float: left;
      margin-right: 8px;
      display: none;
      @media (min-width: $screen-md-min) {
        display: block;
      }
    }
    &-desc {
      span {
        color: #b2b2b2;
      }
      a {
        color: #4d739c;
      }
      img {
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    &:last-child {
      margin-bottom: 15px;
    }
    &.active {
      max-height: 150px;
    }
  }
  .reviewBlock {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
  }
}

.tabs {
  .active .btn--primary {
    background: $brand-primary;
    color: $light;
  }
  li {
    padding: 0;
  }
}
hr.title {
  border: 1px solid #e5e5e5;
  margin-bottom: 15px;
}

.filter {
  background: #4a4a4a;
  color: #fff;
  display: none;
  @media (min-width: $screen-lg-min) {
    display: block;
  }
  &__item {
    padding: 10px 20px;
    border-bottom: 1px solid #404040;
    border-top: 1px solid #595959;
    &-title {
      text-transform: uppercase;
      h5 {color: $light;}
    }
  }
  .form-control {
    @include border-radius(25px);
  }
  .col-xs-6 {width: 48.5%;}
  .btn--default {
    color: #b2b2b2;
    background: #4a4a4a;
    border-color: #b2b2b2;
    &:hover,
    &:focus {
      background: #fff;
      color: #4a4a4a;
    }
  }
}
.sort {
  display: none;
  li {
    margin-bottom: 10px;
  }
  @media (min-width: $screen-lg-min) {
    display: block;
  }
}
.sort__title,
.filter__title {
  margin-top: 10px;
  width: 240px;
}
.collapse__elem {
  &-title {
  }
  &-body {
    display: none;
  }
  .text--default {
    color: #cecece;
  }
}


.sitemap {
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 20px;
  a { color: #4a4a4a;}
  &-level1{
    font-size: 17px;
    font-weight: 700;
    li { margin-bottom: 25px;}
  }
  &-level2 {
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    list-style-type: none;
    padding-left: 20px;
    li { margin-bottom: 6px;}
    li:before {
      content: ' • ';
      color: $brand-primary;
      font-size: 22px;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


.product_quantity_js {
  width: 70px;
  margin: auto;
}

.busket {
  &Img {
    text-align: center !important;
    //border-right: 0 !important;
  }
  &Name {
    font-size: 18px;
  }
  &Price {
    font-size: 20px;
    font-weight: 700;
    span {
      font-size: 16px;
      font-weight: 400;
    }
    &Text {
      text-align: left !important;
      span {font-size: 9px;color: #bababa;}
      p {line-height: 1;
        margin-top: 11px;
        margin-left: 15px;}
    }
    &Main {
      text-align: left !important;
      font-size: 29px;
      span {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  &Type {
    color: #7c7c7c;
    span {
      color: #4a4a4a;
    }
  }
  .text--right {
    text-align: right !important;
  }
  .list--inline {
    margin-bottom: 0;
    vertical-align: middle;
    @media (min-width: $screen-md-min) {
      padding-left: 70px;
    }
  }
  .tablePromo {
    background: $brand-primary;
    color: $light;
    tr {
      > td {
        padding: 17px 20px;
        vertical-align: middle;
      }
      @media (max-width: $screen-md-min) {
        display: block;
        td {
          display: inline-block;
          text-align: center !important;
          padding: 5px 15px ;
          width: 100%;
        }
        .tablePromoM {
          width: 49%;
        }
      }
    }
  }
  .btn--minw {
    min-width: 220px;
  }

  @media (max-width: $screen-md-min) {
    thead {
      display: none;
    }
    tr {
      border-bottom: 1px solid $table-border-color;
      padding: 10px 0;
      display: block;
      td {
        display: inline-block;
        vertical-align: middle;
        border: 0;
      }
      .busketImg {
        width: 100%;
      }
      .busketFootM {
        width: 100%;
        text-align: center !important;
        padding: 0 20px !important;
      }
      .busketNameM {
        width: 100%;
        padding: 0 20px !important;
      }
      .busketPriceM {
        width: 55%;
        vertical-align: middle;
        text-align: right !important;
        padding: 0 20px !important;
      }
      .busketCountM {
        width: 43%;
        padding: 0 20px !important;
      }
      .busketSummM {
        display: none !important;
      }
    }
    li {
      display: block;
      margin: 0;
    }
    .btn--info {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

// orderFin
.orderFin {
  background-color: white;
  margin: auto;
  padding: 20px;
  @media (min-width: $screen-lg-min) {
    width: 720px;
    padding: 30px 100px;
  }
  &--item {
    border-bottom: 1px solid #e1e1e1;
    padding: 20px 0 10px;
    line-height: 22px;
  }
  &_title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 22px;
    span {
      font-weight: 400;
    }
  }
  &_price {
    color: $brand-primary;
    font-size: 16px;
    font-weight: 700;
    padding: 40px 0;
    span {
      font-size: 23px;
    }
  }
  &--text {
    padding-bottom: 50px;
  }
}
.list--par {
  span + span {
    float: right;
  }
  @media (min-width: $screen-md-min) {
    &_l {
      width: 360px;
    }
    &_s {
      width: 340px;
    }
  }
}
// orderFin


// orderList
.orderList {
  background-color: white;
  padding: 10px 11px;
  @media (min-width: $screen-md-min) {
    padding: 20px 32px;
  }
  @media (min-width: $screen-xlg-min) {
    padding: 20px 132px;
  }
  &--item:not(:first-child) {
    border-top: 1px solid #e1e1e1;
  }
  &_title {
    padding: 15px 0;
    color: #3b3b3b;
    font-size: 17px;
    font-weight: 700;
  }

  .text--center {
    text-align: center;
  }
  &-price {
    font-size: 16px;
    font-weight: 700;
    span {
      font-size: 23px;
    }
  }
}
.total .form-group {
  display:none;
}
.popover_link {
  color: white;
  background: #808080;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  width: 15px;
  height: 15px;
  text-align: center;
  cursor: pointer;
  margin-left: 12px;
  @include border-radius(50%);
}
// orderList


// .radio-block
.radio-block {
  float: left;
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid transparent;
  min-width: 186px;
  @media (min-width: $screen-lg-min) {
    & + & {
      margin-left: 2%;
    }
  }
  @media (min-width: $screen-md-min) {
    width: 30%;
  }
  @media (min-width: $screen-lg-min) {
    width: 23%;
  }
  @media (min-width: $screen-xlg-min) {
    width: 18.5%;
  }
  &.active {
    border-color: $brand-primary;
  }
  .radio {
    text-align: center;
    background-color: white;
    border: 1px solid #e1e1e1;
    line-height: 1.2;
    margin: 0;
    label{
      margin-bottom: 0;
      width: 100%;
      padding: 10px 0;
      @media (min-width: $screen-md-min) {
        min-height: 85px;
        &::after {
          top: auto;
          left: 0;
          right: 0;
          bottom: 15px;
          margin: auto;
        }
      }
    }
  }
}
// .radio-block


// card
.social {
  color: #b2b2b2;
  font-size: 11px;
  li + li { margin-left: 7px;}
}
.card {
  padding-top: 20px;
  padding-bottom: 20px;
  h1 {padding-top: 0;}
  .radio-block {
    min-width: initial;
    width: 100%;
    & + .radio-block {
      margin-left: 0;
    }
    @media (max-width: $screen-md-max) {
      .radio label {
        min-height: initial;
        padding-left: 26px;
        &::after {
          right: auto;
          left: 5px;
          top: 5px;
        }
      }
    }
    @media (min-width: $screen-lg-min) {
      width: 33%;
    }
    @media (min-width: $screen-xlg-min) {
        min-width: 186px;
    }
  }
  &-slider {
    background: $light;
    padding: 33px 20px;
    .owl-controls {
      display: none;
    }
    .owl-stage {
      margin: auto;
    }
  }
  &Composition {
    background-color: #eee;
    border-radius: 1px;
    padding: 25px 20px;
    &__item {
      margin-bottom: 5px;
      p {margin-bottom: 15px;}
    }
    &_name-js {
      display: block;
      margin-bottom: 20px;
      img {
        float: right;
      }
    }
    @media (max-width: $screen-sm-max) {
      &_desc {
          display: none;
      }
      .active &_desc {
        display: block;
      }
    }
  }
  &Desc {
    &-price {
      border-bottom: 1px solid #e1e1e1;
      padding: 15px 0 10px;
      .count {
        float: left;
        margin-top: 11px;
      }
    }
    &-order {
      padding: 20px 0;
      img, b {vertical-align: middle;}
    }
    &-package {
      border: 1px solid #e1e1e1;
      padding: 10px 10px 0;
      h2 {
        padding-top: 0;}
      &__item {
        @include clearfix();
        padding: 9px 0;
        & + & {
          border-top: 1px solid #e1e1e1;
        }
      }
    }
  }
  .price {
    b {font-size: 22px;}
    span {font-size: 20px;}
    @media (min-width: $screen-md-min) {
      b {font-size: 29px;}
    }
  }
  .packageType {
    margin-top: 10px;
    li {
      width: 29%;
      font-size: 11px;
      padding: 0;
      @media (max-width: $screen-sm-max) {
        width: 100%;
      }
    }
    .radio {margin-bottom: 0;}
    &-img {
      padding: 2px;
      text-align: center;
      border: 1px solid transparent;
      display: inline-block;
      img {display: block; margin: auto;}
    }
    .active .packageType-img {
      border-color: $brand-primary;
    }
    @media (max-width: $screen-sm-max) {
      vertical-align: top;
      &-img  {vertical-align: top; width: 40px; display: inline-block;}
      .radio {vertical-align: top; display: inline-block; margin-top: 5px;}
    }
  }
  .colorType {
    li {
      //padding: 0;
      border: 1px solid transparent;
      padding: 4px;
      cursor: pointer;
      &:first-child {
        display: block;
        @media (min-width: $screen-xlg-min) {
          display: inline-block;
        }
      }
      &.active {
        border-color: $brand-primary;
      }
      img { display: block;}
    }
  }
  h3 {padding-top: 8px;}

  &Dop {
    &-list {
      &__item {
        background-color: white;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        padding: 9px;

        &-img, &-desc {
          vertical-align: top;
          width: 48%;
          display: inline-block;
        }
        @media (min-width: $screen-md-min) {
          &-img {
            text-align: center;
            height: 182px;
            display: block;
            img {
              vertical-align: middle;
            }
          }
          &-desc {
            display: block;
            width: 100%;
          }
          &-name {
            max-width: 130px;
          }
        }
        &-price {
        }
        ul {
          font-size: 11px;
          line-height: 1.8;
          li {padding: 0;}
        }
        .checkbox, label {
          margin: 0;}
      }
    }
  }

  .name {
    span {
      color: #bababa;
      display: block;
      font-size: 9px;
    }
  }
  .owl-thumb-item {
    border: 2px solid transparent;
    padding: 2px;
    border-radius: 1px;
    max-width: 101px;
    position: relative;
  }
  .center .owl-thumb-item {
    border-color: #5ca51c;
    &:before {
      content: '';
      background: url("../images/triangle.png") center no-repeat;
      width: 9px;
      height: 5px;
      position: absolute;
      top: -5px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .owl-carousel .owl-stage-outer {
    padding: 5px 0;}
}
// card



.owl-thumb-item {
  display: inline-block;
  cursor: pointer;
}