main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Адреса магазинов в городе Санкт-Петербург' }
            include ../components/_breadcrumbs
            h1= title.description
            .form-group.visible--xs.visible--sm
                a.btn.btn--info.btn--ico.btn--block(data-toggle="collapse", href="#collapseMap", aria-expanded="false", aria-controls="collapseExample", style="text-align:left")
                    img(src="images/pin-icon.png", alt="")
                    | Показать на карте
            #collapseMap.map.collapse
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.7010449210616!2d30.294294164071164!3d59.95369394862958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631388b4d2903%3A0x12fb9e2295425e70!2z0L_QtdGALiDQndC10YHRgtC10YDQvtCy0LAsIDYvOSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NzE5OA!5e0!3m2!1sru!2sru!4v1459935053310", width="100%", height="500", frameborder="0", style="border:0;pointer-events: none;", allowfullscreen)
            .form-group.visible--xs.visible--sm
                select.form-control
                    option Адмиралтейская
                    option Пионерская
                    option Достоевская
            .mainContacts
                - for (var y = 1; y < 4; y++)
                    - for (var x = 1; x < 5; x++)
                        .mainContacts__item
                            .mainContacts__item-img.hidden--xs
                                img(src="images/img-contacts-#{x}.jpg", alt="")
                            .mainContacts__item-name
                                h3
                                    img.img--left.visible--xs(src="images/camera-icon.png", alt="")
                                    | Центральный салон на
                                    | Съезжинской
                                p Время работы: с10:00 до 18:00
                                ul.list--unstyled
                                    li
                                        img(src="images/ico-contacts-1.png", alt="")
                                        | Съезжинская ул., 9/6
                                    li
                                        img(src="images/ico-contacts-2.png", alt="")
                                        | Спортивная
                                    li
                                        img(src="images/ico-contacts-3.png", alt="")
                                        p
                                            | (812) 235-82-83,
                                            span
                                            |  (812) 233-94-11
