main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Корзина' }
            include ../components/_breadcrumbs
            h1= title.description
            .busket
                table.table
                    thead
                        tr
                            th Фото товара
                            th Товар
                            th Цена, шт.
                            th Количество
                            th Сумма
                            th Удалить
                    tbody
                        tr
                            td.busketImg(rowspan='6')
                                .pull-right.visible--sm.visible--xs: .busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                                img(src="images/busket-img.jpg", alt="")
                            td.busketNameM
                                p.busketName: b Букет «Римские каникулы»
                                p.busketArt Артикул: 2356894
                            td.busketPriceM: p
                                    b.busketPrice 12 590
                                    span  ₽
                            td.busketCountM
                                .input-group.product_quantity_js
                                    input.form-control(type="text", value='1')
                                    .input-group-btn
                                        button.btn.btn--default.dec(type='button'): img(src="images/arr-up.png", alt="")
                                        button.btn.btn--default.inc(type='button'): img(src="images/arr-down.png", alt="")
                            td.busketSummM: p
                                    b.busketPrice 12 590
                                    span  ₽
                            td.hidden--sm.hidden--xs.t5.busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                        tr
                            td.busketNameM
                                b.busketType Упаковка:
                                    span  Ткань ручной работы
                                ul.list--inline
                                    li: img(src="images/type-1.jpg", alt="")
                                    li: img(src="images/type-2.jpg", alt="")
                                    li.busketArt Артикул: 2356894
                            td.busketPriceM: p
                                    b.busketPrice 590
                                    span  ₽
                            td.busketCountM 1
                            td.busketSummM: p
                                    b.busketPrice 590
                                    span  ₽
                            td.hidden--sm.hidden--xs &nbsp;
                        tr
                            td.busketNameM
                                b.busketType Лента:
                                    span  Полимерна лента
                                ul.list--inline
                                    li: img(src="images/type-1.jpg", alt="")
                                    li: img(src="images/type-2.jpg", alt="")
                                    li.busketArt Артикул: 2356894
                            td.busketPriceM: p
                                    b.busketPrice 590
                                    span  ₽
                            td.busketCountM 1
                            td.busketSummM: p
                                    b.busketPrice 590
                                    span  ₽
                            td.hidden--sm.hidden--xs &nbsp;
                        - for (var x = 0; x < 2; x++)
                            tr
                                td.busketNameM
                                    .pull-right.visible--sm.visible--xs: .busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                                    b.busketType Дополнения:
                                        span  Вставка сердечко на палочке
                                    ul.list--inline
                                        li: img(src="images/type-3.jpg", alt="")
                                        li.busketArt Артикул: 2356894
                                td.busketPriceM: p
                                        b.busketPrice 590
                                        span  ₽
                                td.busketCountM
                                    .input-group.product_quantity_js
                                        input.form-control(type="text", value='1')
                                        .input-group-btn
                                            button.btn.btn--default.dec(type='button'): img(src="images/arr-up.png", alt="")
                                            button.btn.btn--default.inc(type='button'): img(src="images/arr-down.png", alt="")
                                td.busketSummM: p
                                        b.busketPrice 590
                                        span  ₽
                                td.hidden--sm.hidden--xs.t5.busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                        tr
                            td.busketFootM.text--right(colspan="2")
                                a.btn.btn--success.btn--ico(data-toggle='modal', href='#modal-busket')
                                    img(src="images/post-icon.png", alt="")
                                    | Отредактировать
                            td.busketPriceText.busketFootM
                                p Цена букета
                                    br
                                    span c упаковкой и лентой и дополнениями
                            td.busketFootM.busketPriceMain.text--primary(colspan="2")
                                b 15 540
                                span  ₽
                table.table
                    tbody
                        tr
                            td.busketImg(rowspan='6')
                                .pull-right.visible--sm.visible--xs: .busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                                img(src="images/busket-img.jpg", alt="")
                            td.busketNameM
                                p.busketName: b Букет «Римские каникулы»
                                p.busketArt Артикул: 2356894
                            td.busketPriceM: p
                                    b.busketPrice 12 590
                                    span  ₽
                            td.busketCountM
                                .input-group.product_quantity_js
                                    input.form-control(type="text", value='1')
                                    .input-group-btn
                                        button.btn.btn--default.dec(type='button'): img(src="images/arr-up.png", alt="")
                                        button.btn.btn--default.inc(type='button'): img(src="images/arr-down.png", alt="")
                            td.busketSummM: p
                                    b.busketPrice 12 590
                                    span  ₽
                            td.hidden--sm.hidden--xs.t5.busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                        tr
                            td.busketNameM
                                b.busketType
                                    span  Упаковка и лента на усмотрение флориста
                            td.busketPriceM: p
                                    b.busketPrice 190
                                    span  ₽
                            td.busketCountM 1
                            td.busketSummM: p
                                    b.busketPrice 190
                                    span  ₽
                            td.hidden--sm.hidden--xs &nbsp;
                        - for (var x = 0; x < 2; x++)
                            tr
                                td.busketNameM
                                    .pull-right.visible--sm.visible--xs: .busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                                    b.busketType Дополнения:
                                        span  Вставка сердечко на палочке
                                    ul.list--inline
                                        li: img(src="images/type-3.jpg", alt="")
                                        li.busketArt Артикул: 2356894
                                td.busketPriceM: p
                                        b.busketPrice 590
                                        span  ₽
                                td.busketCountM
                                    .input-group.product_quantity_js
                                        input.form-control(type="text", value='1')
                                        .input-group-btn
                                            button.btn.btn--default.dec(type='button'): img(src="images/arr-up.png", alt="")
                                            button.btn.btn--default.inc(type='button'): img(src="images/arr-down.png", alt="")
                                td.busketSummM: p
                                        b.busketPrice 590
                                        span  ₽
                                td.hidden--sm.hidden--xs.t5.busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                        tr
                            td.busketFootM.text--right(colspan="2")
                                a.btn.btn--success.btn--ico(data-toggle='modal', href='#modal-busket')
                                    img(src="images/post-icon.png", alt="")
                                    | Отредактировать
                            td.busketFootM.busketPriceText
                                p Цена букета
                                    br
                                    span c упаковкой и лентой и дополнениями
                            td.busketFootM.busketPriceMain.text--primary(colspan="2")
                                b 15 540
                                span  ₽
                table.table.tableOne
                    tbody
                        tr
                            td.busketImg(rowspan='6')
                                .pull-right.visible--sm.visible--xs: .busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                                img(src="images/busket-img2.jpg", alt="")
                            td.busketNameM
                                p.busketName: b Ваза «Римские каникулы»
                                p.busketArt Артикул: 2356894
                            td.busketPriceM: p
                                    b.busketPrice 12 590
                                    span  ₽
                            td.busketCountM
                                .input-group.product_quantity_js
                                    input.form-control(type="text", value='1')
                                    .input-group-btn
                                        button.btn.btn--default.dec(type='button'): img(src="images/arr-up.png", alt="")
                                        button.btn.btn--default.inc(type='button'): img(src="images/arr-down.png", alt="")
                            td.busketSummM: p
                                    b.busketPrice 12 590
                                    span  ₽
                            td.hidden--sm.hidden--xs.t5.busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")
                .text--center.padbot20.padtop10
                    ul.list--inline
                        li.margright50
                            a.btn.btn--info.btn--ico(href='#')
                                img(src="images/arrow-left-icon.png", alt="")
                                | Продолжить покупки
                        li
                            a.btn.btn--info.btn--ico.btn--ico_un(href='#')
                                img(src="images/repeat-icon.png", alt="")
                                | Пересчитать
                table.table.tablePromo
                    tbody
                        tr
                            td.text--center.t15: b У вас есть промокод?
                            td.tablePromoM.t15
                                input.form-control(type="text", placeholder="Введите код")
                            td.tablePromoM.t15: a.btn.btn--success.btn--block(href='#') Применить
                            td.text--right Ваш заказ с учетом промо-кода:
                            td.busketPriceMain
                                b 15 540
                                span  ₽
                .text--center.padbot40.padtop20
                    a.btn.btn--success.btn--minw(href='#') Оформить заказ