main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Букет «Римские каникулы»' }
            include ../components/_breadcrumbs
            .card.row(itemscope, itemtype="http://schema.org/Product")
                .col.col-md-6.col-xs-12
                    .visible--xs.visible--sm
                        h1(itemprop="name") Букет «Римские каникулы
                        p.cardDesc-article Артикул: 
                            b 22056895
                    .card-slider.text--center
                        .big-images
                            - for (var x = 1; x < 8; x++)
                                .item
                                    img(src="images/card.jpg", itemprop="image", title="Кровать Мелисса с мягкой спинкой")
                        .text--right
                            ul.list--inline.social
                                li Поделиться:
                                li: a(href="#"): img(src="images/vk.png")
                                li: a(href="#"): img(src="images/fa.png")
                        .thumbs
                            - for (var x = 1; x < 8; x++)
                                .owl-thumb-item
                                    img(src="images/mini-card.jpg")
                    .cardComposition
                        .cardComposition__item.row
                            .cardComposition_name.col.col-lg-3.col-xs-12
                                b.hidden--sm.hidden--xs Состав букета:
                                .review__item-link.visible--sm.visible--xs
                                    a.cardComposition_name-js(href="#"): b Состав букета:
                                        img(src="images/arrow-down-icon.png", alt="")
                            .cardComposition_desc.col.col-lg-9
                                p Тюльпан зеленый, Анемон синий, Гвоздика зеленая, Лизиантус розовый, Роза
                                    | кустовая французская розовая, Алхемилла, Статица фиолетовая,  Эвкалипт
                        .cardComposition__item.row
                            .cardComposition_name.col.col-lg-3.col-xs-12
                                b.hidden--sm.hidden--xs Описание:
                                .review__item-link.visible--sm.visible--xs
                                    a.cardComposition_name-js(href="#"): b Описание:
                                        img(src="images/arrow-down-icon.png", alt="")
                            .cardComposition_desc.col.col-lg-9(itemprop="description")
                                p Необычный букет из 7-ми красных роз. Листы феникса придают букету
                                    | пышности. Состав букета: - роза импорт Фридом (7 штук), - феникс (3 ветки),
                                    | - аспидистра (3 листа), - сетка крупная.
                                p Цветочный букет всегда был, и остается прекрасным знаком внимания.
                                    | Наши букеты порадуют не только своей пышностью и ароматом, но
                                    | Необычный букет из 7-ми красных роз. Листы феникса придают букету
                                    | пышности. Состав букета: - роза импорт Фридом (7 штук), - феникс (3 ветки),
                                    | - аспидистра (3 листа), - сетка крупная.
                                p Необычный букет из 7-ми красных роз. Листы феникса придают букету
                                    | пышности. Состав букета: - роза импорт Фридом (7 штук), - феникс (3 ветки),
                                    | - аспидистра (3 листа), - сетка крупная.Необычный букет из 7-ми красных роз.
                                    | Листы феникса придают букету пышности. Состав букета: - роза импорт
                                    | Фридом (7 штук), - феникс (3 ветки), - аспидистра (3 листа), - сетка крупная.

                .col.col-md-6.col-xs-12
                    .cardDesc
                         .hidden--xs.hidden--sm
                             h1 Букет «Римские каникулы
                             p.cardDesc-article Артикул: 
                                b 22056895
                         .cardDesc__item.cardDesc-price
                             .col-xlg-10.center-block
                                 .row
                                     .col.col-xlg-5.col-lg-4.col-xs-6
                                         p.name Цена букета
                                            span.text--sm без упаковки
                                     .col.col-xlg-3.col-lg-3.col-xs-6.pad0
                                         p.price
                                            b 12 540
                                            span  ₽
                                     .col.col-xlg-4.col-lg-5.col-xs-8.center-block
                                         span.count Количество:
                                         .input-group.product_quantity_js
                                             input.form-control(type="text", value='1')
                                             .input-group-btn
                                                 button.btn.btn--default.dec(type='button'): img(src="images/arr-up.png", alt="")
                                                 button.btn.btn--default.inc(type='button'): img(src="images/arr-down.png", alt="")
                                 .row
                                     .col.col-xlg-5.col-lg-4.col-xs-6
                                         p.name Цена букета
                                            span.text--sm c упаковкой и лентой и дополнениями
                                     .col.col-xlg-3.col-lg-3.col-xs-6.pad0
                                         p.price.text--primary
                                            b 15 540
                                            span  ₽
                         .cardDesc-order.text--center
                             img.margright10(src="images/order-spec.png", alt="")
                             b.text--sm.text--danger доступен только предварительный заказ
                         .cardDesc-package.text--center
                             h2 Добавить упаковку и ленту к букету
                             .radio-block_inner
                                 .radio-block.tab1.active
                                     .radio
                                         input(type='radio', id='test22', name="test22", checked)
                                         label(for="test22") Упаковка и лента на усмотрение флориста
                                 .radio-block.tab2
                                     .radio
                                         input(type='radio', id='test21', name="test22")
                                         label(for="test21") Подобрать
                                            | самостоятельно
                                 .radio-block.tab3
                                     .radio
                                         input(type='radio', id='test31', name="test22")
                                         label(for="test31") Нет
                                 .clearfix
                                 #tab2
                                      h3 На усмотрение флориста
                                 #tab1
                                     .cardDesc-package__item.text--left
                                         .col.col-lg-4.text--center.hidden--sm.hidden--xs.hidden--md
                                             img(src="images/package.png", alt="")
                                             p.margtop20.price.text--primary
                                                 b +140
                                                 span  ₽
                                         .col.col-lg-8
                                             .text--left
                                                 p.pull-right.price.text--primary.visible--xs.visible--sm.visible--md
                                                     b +140
                                                     span  ₽
                                                h3 Материал упаковки:
                                                .clearfix
                                             ul.list--inline.packageType
                                                 li
                                                     .packageType-img
                                                        img(src="images/pack-1.jpg", alt="")
                                                     .radio
                                                         input(type='radio', id='test12', name="tes12")
                                                         label(for="test12") Ткань
                                                 li.active
                                                     .packageType-img
                                                        img(src="images/pack-2.jpg", alt="")
                                                     .radio
                                                         input(type='radio', id='test13', name="tes12", checked)
                                                         label(for="test13") Целофан
                                                 li
                                                     .packageType-img
                                                        img(src="images/pack-3.jpg", alt="")
                                                     .radio
                                                         input(type='radio', id='test14', name="tes12")
                                                         label(for="test14") Крафтовая бумага
                                             ul.list--inline.colorType.colorType-js
                                                 li: h3 Цвет упаковки:
                                                 li: img(src="images/color-1.jpg", alt="")
                                                 li.active: img(src="images/color-2.jpg", alt="")
                                                 li: img(src="images/color-3.jpg", alt="")
                                                 li: img(src="images/color-4.jpg", alt="")
                                                 li: img(src="images/color-5.jpg", alt="")
                                     .cardDesc-package__item.text--left
                                         .col.col-lg-4.text--center.hidden--sm.hidden--xs.hidden--md
                                             img(src="images/package.png", alt="")
                                             p.margtop20.price.text--primary
                                                 b +160
                                                 span  ₽
                                         .col.col-lg-8
                                             .text--left
                                                 p.pull-right.price.text--primary.visible--xs.visible--sm.visible--md
                                                     b +160
                                                     span  ₽
                                                 h3 Мaтериал ленты:
                                                 .clearfix
                                             ul.list--inline.packageType
                                                 li

                                                     .packageType-img
                                                         img(src="images/pack-1.jpg", alt="")
                                                     .radio
                                                         input(type='radio', id='tes12', name="tes2")
                                                         label(for="tes12") Ткань
                                                 li.active

                                                     .packageType-img
                                                         img(src="images/pack-2.jpg", alt="")
                                                     .radio
                                                         input(type='radio', id='tes13', name="tes2", checked)
                                                         label(for="tes13") Целофан
                                                 li

                                                     .packageType-img
                                                         img(src="images/pack-3.jpg", alt="")
                                                     .radio
                                                         input(type='radio', id='tes14', name="tes2")
                                                         label(for="tes14") Крафтовая бумага
                                                 li

                                                     .packageType-img
                                                         img(src="images/pack-4.jpg", alt="")
                                                     .radio
                                                         input(type='radio', id='tes15', name="tes2")
                                                         label(for="tes15") Крафтовая бумага
                                                 li

                                                     .packageType-img
                                                         img(src="images/pack-5.jpg", alt="")
                                                     .radio
                                                         input(type='radio', id='tes16', name="tes2")
                                                         label(for="tes16") Крафтовая бумага
                                             ul.list--inline.colorType.colorType-js
                                                 li: h3 Цвет упаковки:
                                                 li: img(src="images/color-1.jpg", alt="")
                                                 li.active: img(src="images/color-2.jpg", alt="")
                                                 li: img(src="images/color-3.jpg", alt="")
                                                 li: img(src="images/color-4.jpg", alt="")
                                                 li: img(src="images/color-5.jpg", alt="")
                                 #tab3 &nbsp;
                         .col-lg-6.center-block.margtop30.hidden--xs.hidden--sm
                             ul.list--inline
                                 li: p.name Цена букета
                                        span.text--sm c упаковкой и лентой и дополнениями
                                 li: p.price.text--primary(itemprop="offers", itemscope itemtype="http://schema.org/Offer")
                                         b(itemprop="price") 15 540
                                         span(itemprop="priceCurrency", content="RUB")  ₽
                             a.btn.btn--success.btn--block.btn--lg(href="#") Заказать
                .col.col-xs-12.cardDop
                    h1 Дополните букет
                    .cardDop-list
                        - for (var x = 1; x < 10; x++)
                            .cardDop-list__item.col-xlg-2.col-lg-3.col-md-4.col-sm-6.col-xs-12.pull-left
                                .cardDop-list__item-img
                                    img(src="images/dop-#{x}.jpg", alt="")
                                .cardDop-list__item-desc
                                    .cardDop-list__item-name
                                        p Вставка сердечко на палочке
                                    .cardDop-list__item-price
                                        p Цена:
                                            b.text--md  180 ₽
                                    ul.list--inline
                                        li
                                            .checkbox
                                                input(type='checkbox', id='dop#{x}', name="dop#{x}")
                                                label(for="dop#{x}") Добавить
                                        li
                                            .input-group.product_quantity_js
                                                input.form-control(type="text", value='1')
                                                .input-group-btn
                                                    button.btn.btn--default.dec(type='button'): img(src="images/arr-up.png", alt="")
                                                    button.btn.btn--default.inc(type='button'): img(src="images/arr-down.png", alt="")
                                        li шт.
                .col.col-xs-12.visible--xs.visible--sm
                    ul.list--inline
                        li: p.name Цена букета
                            br
                            span.text--sm c упаковкой и лентой и дополнениями
                        li.pull-right: p.price.text--primary
                            b 15 540
                            span  ₽
                    a.btn.btn--success.btn--block.btn--lg(href="#") Заказать
            h1 Отзывы
            .review
                ul.list--inline.text--right
                    li.margbot10: a.btn.btn--primary.btn--ico.btn--block(href='#')
                            img(src="images/plus-icon.png", alt="")
                            | Оставить отзыв
                    li.margbot10: a.btn.btn--info.btn--ico(href="#")
                            img(src="images/bubble-icon.png", alt="")
                            | Посмотреть все отзывы
                .col-lg-8.center-block
                    - for (var x = 1; x < 6; x++)
                        .review__item
                            .pull-right.visible--sm.visible--xs
                                a.review__item-link(href="#"): img(src="images/review-down.png", alt="")
                            .review__item-img
                                img(src="images/review-1.jpg", alt="")
                            .review__item-desc
                                p.review__item-name
                                    span Юлия
                                    |  | 06.03.2016
                                p.review__item-text: i Спасибо большое! Живем очень далеко, в Дубае, но было приятно порадоватьсвекровь и лучшую подругу с День
                                    | Рождение. Заказывала и оплачивала всев послднюю минуту, но доставивли вечером того же дня.
                        .review__item
                            .pull-right.visible--sm.visible--xs
                                a.review__item-link(href="#"): img(src="images/review-down.png", alt="")
                            .review__item-img
                                img(src="images/review-2.jpg", alt="")
                            .review__item-desc
                                p.review__item-name
                                    img(src="images/ico--vk.png", alt="")
                                    a(href="#") Александр Карпенко
                                    |  | 03.03.2016
                                p.review__item-text: i Спасибо большое! Живем очень далеко, в Дубае, но было приятно порадоватьсвекровь и лучшую подругу с День
                                    | Рождение. Заказывала и оплачивала всев послднюю минуту, но доставивли вечером того же дня.
                    .reviewBlock
                        .col-lg-8.col-md-10.center-block
                            h1 Оставить отзыв
                            p.margbot20: i С помощью формы ниже вы можете отправить отзыв о нашей работе
                                | менеджеру по качеству
                            .form-group
                                textarea.form-control(placeholder='Ваш отзыв', rows="4")
                            .form-group
                                .row
                                    .col.col-sm-4.col-xs-12
                                        label Ваше имя
                                    .col.col-sm-8.col-xs-12
                                        input.form-control(type='text')
                            .form-group
                                .row
                                    .col.col-sm-4.col-xs-12
                                        label Телефон или e-mail
                                    .col.col-sm-8.col-xs-12
                                        input.form-control(type='text')
                            .form-group.text--right
                                buttona.btn.btn--primary.btn--lg(type="submit") Отправить сообщение