main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Каталог' }
            include ../components/_breadcrumbs
            h1 Каталог
            .mainCatalog.catalog
                .mainCatalog__item
                    .mainCatalog__item-img.hidden--xs
                        img(src="images/catalog-1.jpg", alt="")
                    .mainCatalog__item-btn
                        a.btn.btn--primary.btn--lg.btn--bra(href="#") Букеты
                .mainCatalog__item
                    .mainCatalog__item-img.hidden--xs
                        img(src="images/catalog-2.jpg", alt="")
                    .mainCatalog__item-btn
                        a.btn.btn--primary.btn--lg.btn--bra(href="#") Цветы
                    ul.list--unstyled.text--left.margtop20
                        li: a(href="#") Роза
                        li: a(href="#") Хризантема
                        li: a(href="#") Гербера
                        li: a(href="#") Лизиантус
                .mainCatalog__item
                    .mainCatalog__item-img.hidden--xs
                        img(src="images/catalog-3.jpg", alt="")
                    .mainCatalog__item-btn
                        a.btn.btn--primary.btn--lg.btn--bra(href="#") Корзины
                .mainCatalog__item
                    .mainCatalog__item-img.hidden--xs
                        img(src="images/catalog-4.jpg", alt="")
                    .mainCatalog__item-btn
                        a.btn.btn--primary.btn--lg.btn--bra(href="#") Подарки
                    ul.list--unstyled.text--left.margtop20
                        li: a(href="#") Воздушные шары
                        li: a(href="#") Конфеты
                        li: a(href="#") Сувениры
                        li: a(href="#") Открытка
                        li: a(href="#") Мягкие игрушки
                .mainCatalog__item
                    .mainCatalog__item-img.hidden--xs
                        img(src="images/catalog-1.jpg", alt="")
                    .mainCatalog__item-btn
                        a.btn.btn--primary.btn--lg.btn--bra(href="#") Комнатные растения
                .mainCatalog__item
                    .mainCatalog__item-img.hidden--xs
                        img(src="images/catalog-2.jpg", alt="")
                    .mainCatalog__item-btn
                        a.btn.btn--primary.btn--lg.btn--bra(href="#") Свадьба
                    ul.list--unstyled.text--left.margtop20
                        li: a(href="#") Для невесты
                        li: a(href="#") омпозиции
                        li: a(href="#") Оформление свадьбы
                        li: a(href="#") Для молодоженов
