main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Цветы' }
            include ../components/_breadcrumbs
            .row
                include ../components/_filter
                .col.col-lg-9.col-xs-12
                    h1.pull--md--left.pull--lg--left.pull--xlg--left= title.description
                    ul.pull--md--right.pull--lg--right.pull--xlg--right.list--inline.hidden--lg.hidden--xlg.text--center
                        li: a.filter__title.filter__title-js.btn.btn--primary.btn--ico(href="#")
                                img(src="images/ico--filter.png", alt="")
                                | Фильтр
                        li: a.sort__title.sort__title-js.btn.btn--primary.btn--ico(href="#")
                                img(src="images/ico--sort.png", alt="")
                                | Сортировка
                    ul.pull--md--right.pull--lg--right.pull--xlg--right.list--inline.sort
                        li Сортировать:
                        li: select.form-control
                            option По цене
                            option По цене
                            option По цене
                        li: select.form-control
                            option По популярности
                            option По популярности
                            option По популярности
                        li 86 Букетов
                    .clearfix
                    hr.title
                    .mainCatalog-inner
                        .mainCatalog-header
                            ul.list--inline.tabs
                                li.active
                                    a.btn.btn--primary.btn--bra(href='#tab1', role='tab', data-toggle='tab') Экзотические цветы
                                li
                                    a.btn.btn--primary.btn--bra(href='#tab2', role='tab', data-toggle='tab') Розы
                                li
                                    a.btn.btn--primary.btn--bra(href='#tab3', role='tab', data-toggle='tab') Герберы
                                li
                                    a.btn.btn--primary.btn--bra(href='#tab4', role='tab', data-toggle='tab') Хризантемы
                                li
                                    a.btn.btn--primary.btn--bra(href='#tab5', role='tab', data-toggle='tab') Лилии
                                li
                                    a.btn.btn--primary.btn--bra(href='#tab6', role='tab', data-toggle='tab') Вставки
                        .tab-content.mainCatalog-body
                            #tab1.active.tab-pane.fade.in
                                - for (var x = 0; x < 4; x++)
                                    .mainCatalog__item
                                        .mainCatalog__item-img
                                            .mainCatalog__item-img--opacity
                                            img(src="images/product-09.jpg", alt="")
                                            .mainCatalog__item-price 1560
                                                span р.
                                        .mainCatalog__item-name
                                            p: b Артикул 053355836
                                                br
                                                | Букет из роз
                                            p.text--sm.text--success • в наличии
                                        .mainCatalog__item-btn
                                            a.btn.btn--success.btn--md(href="#") Заказать
                                    .mainCatalog__item
                                        .mainCatalog__item-unique
                                            .unique.unique--info
                                                .unique--text -20%
                                        .mainCatalog__item-img
                                            .mainCatalog__item-img--opacity
                                            img(src="images/product-10.jpg", alt="")
                                            .mainCatalog__item-price 1560
                                                span р.
                                        .mainCatalog__item-name
                                            p: b Артикул 053355836
                                                br
                                                | Букет из роз
                                            p.text--sm.text--danger доступен по предварительному заказу
                                        .mainCatalog__item-btn
                                            a.btn.btn--success.btn--md(href="#") Заказать
                                    .mainCatalog__item
                                        .mainCatalog__item-img
                                            .mainCatalog__item-img--opacity
                                            img(src="images/product-11.jpg", alt="")
                                            .mainCatalog__item-price 1560
                                                span р.
                                        .mainCatalog__item-name
                                            p: b Артикул 053355836
                                                br
                                                | Букет из роз
                                            p.text--sm.text--success • в наличии
                                        .mainCatalog__item-btn
                                            a.btn.btn--success.btn--md(href="#") Заказать
                                    .mainCatalog__item
                                        .mainCatalog__item-unique
                                            .unique.unique--primary
                                                .unique--ico
                                        .mainCatalog__item-img
                                            .mainCatalog__item-img--opacity
                                            img(src="images/product-12.jpg", alt="")
                                            .mainCatalog__item-price.mainCatalog__item-price_Sale
                                                p.old 1560
                                                    span р.
                                                p 1260
                                                    span р.
                                        .mainCatalog__item-name
                                            p: b Артикул 053355836
                                                br
                                                | Букет из роз
                                            p.text--sm.text--danger доступен по предварительному заказу
                                        .mainCatalog__item-btn
                                            a.btn.btn--success.btn--md(href="#") Заказать
                                .collapse__elem
                                    .collapse__elem-title.text--center.margtop20
                                        a.btn.btn--info.btn--ico(href="#") Показать следующие букеты
                                    .collapse__elem-body
                                        - for (var x = 1; x < 7; x++)
                                            .mainCatalog__item
                                                .mainCatalog__item-img
                                                    .mainCatalog__item-img--opacity
                                                    img(src="images/product-12.jpg", alt="")
                                                    .mainCatalog__item-price.mainCatalog__item-price_Sale
                                                        p.old 1560
                                                            span р.
                                                        p 1260
                                                            span р.
                                                .mainCatalog__item-name
                                                    p: b Артикул 053355836
                                                        br
                                                        | Букет из роз
                                                    p.text--sm.text--danger доступен по предварительному заказу
                                                .mainCatalog__item-btn
                                                    a.btn.btn--success.btn--md(href="#") Заказать
                            #tab2.tab-pane.fade 2
                            #tab3.tab-pane.fade 3
                            #tab4.tab-pane.fade 4
                            #tab5.tab-pane.fade 5
                            #tab6.tab-pane.fade 5