main.site-main
    .container
        .mainSLider.hidden--xs.hidden--sm
            .owl-carousel
                .item(style="background:url('images/slide-1.jpg') center top no-repeat")
                    .itemInner.text--center
                        h1 Букеты
                            br
                            | на 8 МАРТА
                            small по праздничной цене »
                .item(style="background:url('images/slide-1.jpg') center top no-repeat")
                    .itemInner.text--center
                        h1 Букеты
                            br
                            | на 8 МАРТА
                            small по праздничной цене »
                .item(style="background:url('images/slide-1.jpg') center top no-repeat")
                    .itemInner.text--center
                        h1 Букеты
                            br
                            | на 8 МАРТА
                            small по праздничной цене »
                .item(style="background:url('images/slide-1.jpg') center top no-repeat")
                    .itemInner.text--center
                        h1 Букеты
                            br
                            | на 8 МАРТА
                            small по праздничной цене »
        .mainCategory.hidden--xs.hidden--sm
            .row
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-01.png", alt="")
                        p БУКЕТЫ
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-02.png", alt="")
                        p РОЗЫ
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-03.png", alt="")
                        p ГЕРБЕРЫ
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-04.png", alt="")
                        p ХРИЗАНТЕМЫ
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-05.png", alt="")
                        p ЛИЛИИ
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-06.png", alt="")
                        p ЭКЗОТИЧЕСКИЕ ЦВЕТЫ
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-07.png", alt="")
                        p Букеты на 8 марта
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-08.png", alt="")
                        p Композиции в виде сердца
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-09.png", alt="")
                        p Корзины
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-10.png", alt="")
                        p Игрушки из цветов
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-11.png", alt="")
                        p Мягкие игрушки
                .col.col-lg-2.col-md-3.col-sm-6.col-xs-12
                    a(href="#").mainCategory__item
                        .mainCategory__item-img
                            img(src="images/flower-12.png", alt="")
                        p Коробка с цветами
        .mainCatalog
            .mainCatalog-inner
                .mainCatalog-header
                    .pull-left
                        h1 Букеты
                    .pull-right
                        a.btn.btn--primary.btn--icosort(href="#") Показать следующие букеты
                .mainCatalog-body
                    .mainCatalog__item
                        .mainCatalog__item-unique
                            .unique.unique--sucess
                                .unique--ico
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-01.jpg", alt="")
                            .mainCatalog__item-price 1560
                                span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--success • в наличии
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
                    .mainCatalog__item
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-02.jpg", alt="")
                            .mainCatalog__item-price 1560
                                span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--danger Наличие уточняйте у операторов
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
                    .mainCatalog__item
                        .mainCatalog__item-unique
                            .unique.unique--primary
                                .unique--ico
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-03.jpg", alt="")
                            .mainCatalog__item-price 1560
                                span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--success • в наличии
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
                    .mainCatalog__item
                        .mainCatalog__item-unique
                            .unique.unique--info
                                .unique--text -20%
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-04.jpg", alt="")
                            .mainCatalog__item-price.mainCatalog__item-price_Sale
                                p.old 1560
                                    span р.
                                p 1260
                                    span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--danger Наличие уточняйте у операторов
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
            .mainCatalog-inner
                .mainCatalog-header
                    .pull-left
                        h1 Цветы
                    .pull-right
                        a.btn.btn--primary.btn--icosort(href="#") Показать следующие букеты
                .mainCatalog-body
                    .mainCatalog__item
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-05.jpg", alt="")
                            .mainCatalog__item-price 1560
                                span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--success • в наличии
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
                    .mainCatalog__item
                        .mainCatalog__item-unique
                            .unique.unique--primary
                                .unique--ico
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-06.jpg", alt="")
                            .mainCatalog__item-price 1560
                                span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--danger Наличие уточняйте у операторов
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
                    .mainCatalog__item
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-07.jpg", alt="")
                            .mainCatalog__item-price 1560
                                span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--success • в наличии
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
                    .mainCatalog__item
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-08.jpg", alt="")
                            .mainCatalog__item-price.mainCatalog__item-price_Sale
                                p.old 1560
                                    span р.
                                p 1260
                                    span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--danger Наличие уточняйте у операторов
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
            .mainCatalog-inner
                .mainCatalog-header
                    .pull-left
                        h1 Корзины
                    .pull-right
                        a.btn.btn--primary.btn--icosort(href="#") Показать следующие букеты
                .mainCatalog-body
                    .mainCatalog__item
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-09.jpg", alt="")
                            .mainCatalog__item-price 1560
                                span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--success • в наличии
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
                    .mainCatalog__item
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-10.jpg", alt="")
                            .mainCatalog__item-price 1560
                                span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--danger Наличие уточняйте у операторов
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
                    .mainCatalog__item
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-11.jpg", alt="")
                            .mainCatalog__item-price 1560
                                span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--success • в наличии
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать
                    .mainCatalog__item
                        .mainCatalog__item-img
                            .mainCatalog__item-img--opacity
                            a(href="#"): img(src="images/product-12.jpg", alt="")
                            .mainCatalog__item-price.mainCatalog__item-price_Sale
                                p.old 1560
                                    span р.
                                p 1260
                                    span р.
                        .mainCatalog__item-name
                            a(href="#"): p: b Артикул 053355836
                                br
                                | Букет из роз
                            p.text--sm.text--danger Наличие уточняйте у операторов
                        .mainCatalog__item-btn
                            a.btn.btn--success.btn--md(href="#") Заказать