main.site-text
    .container
        .site-text__Inner
            h1 Ваш заказ № 187 оформлен!
            p: i Вы сможете перейти к оплате после подтверждения заказа менеджером.
                br
                | Информация об оплате придет на ваш электронный адрес, указанный при оформления заказа в поле e-mail.
            p
                a.btn.btn--info.btn--ico.btn--ico_long(href="#")
                    img(src="images/tiles-small-icon.png", alt="")
                    | Каталог товаров