main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Оформление заказа' }
            include ../components/_breadcrumbs
            h1 Оформление заказа
            .orderList
                form
                    .orderList--item
                        .orderList_title Контактные данные
                        .orderList_body
                            .form-group.row
                                .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                    label Ваше ФИО
                                        sup *
                                        | :
                                .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                    input.form-control(type='text', required)
                            .form-group.row
                                .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                    label Ваш телефон
                                        sup *
                                        | :
                                .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                    input.form-control(type='text', name="phone", placeholder="+7(___) ___-__-__", required)
                            .form-group.row
                                .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                    label Эл. почта
                                        sup *
                                        | :
                                .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                    input.form-control(type='email', required)
                    .orderList--item
                        .orderList_title Способ оплаты
                        .orderList_body
                            .form-group.radio-block_inner
                                .col.col-xlg-4.col-lg-3.col-md-1.text--right
                                    label &nbsp;
                                .radio-block
                                    .radio
                                        input(type='radio', id='test12', name="test12", checked)
                                        label(for="test12") Оплата в магазине
                                .radio-block
                                    .radio
                                        input(type='radio', id='test11', name="test12")
                                        label(for="test11") Оплата на сайте
                                .col.col-md-3.col-xs-12.text--center
                                    img.margtop10(src="images/cards.png", alt="")
                            .clearfix
                    .orderList--item
                        .orderList_title Способ получения
                        .orderList_body
                            .form-group.radio-block_inner
                                .col.col-xlg-4.col-lg-3.col-md-1.text--right
                                    label &nbsp;
                                .radio-block.tab1.active
                                    .radio
                                        input(type='radio', id='test22', name="test22", checked)
                                        label(for="test22") Доставка курьером
                                .radio-block.tab2
                                    .radio
                                        input(type='radio', id='test21', name="test22")
                                        label(for="test21") Самовывоз
                                .clearfix
                                #tab1
                                    .form-group.row
                                        .col.col-xlg-4.col-lg-3.col-md-4.text--md--right.text--left.hidden--xs.hidden--sm
                                            label &nbsp;
                                        .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                            .checkbox
                                                input(type='checkbox', id='test2', name="test2", checked)
                                                label(for="test2") Я сам буду получателем заказа
                                    .form-group.row
                                        .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                            label ФИО получателя
                                                sup *
                                                | :
                                        .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                            input.form-control(type='text', required)
                                    .form-group.row
                                        .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                            label Телефон получателя
                                                sup *
                                                | :
                                        .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                            input.form-control(type='text', name="phone", placeholder="+7(___) ___-__-__", required)
                                    .form-group.row
                                        .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                            label Адрес
                                                sup *
                                                | :
                                        .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                            input.form-control(type='text', required)
                                    .form-group.row
                                        .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                            label Примечание:
                                        .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                            textarea.form-control(rows='6')
                                    .orderList--item
                                        .orderList_title Дата и время получения
                                        .orderList_body
                                            .form-group.row
                                                .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                                    label Дата
                                                        sup *
                                                        | :
                                                .col.col-xlg-3.col-lg-4.col-md-4.col-xs-12
                                                    input.form-control(type='date', placeholder='31.05.2016', required)
                                            .form-group.row
                                                .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                                    label Время
                                                        sup *
                                                        | :
                                                .col.col-xlg-2.col-lg-3.col-md-3.col-xs-12
                                                    select.form-control
                                                        option с 10 до 13
                                                        option с 10 до 13
                                                        option с 10 до 13
                                                        option с 10 до 13
                                                    input.margtop40.form-control(type='text', disabled)
                                                .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                                    .radio
                                                        input(type='radio', id='xxx1', name="xxx3", checked)
                                                        label(for="xxx1") Обычная доставка
                                                    .radio
                                                        input(type='radio', id='xxx2', name="xxx3")
                                                        label(for="xxx2") Срочная доставка
                                                            span.text--primary  500 ₽
                                                        a.popover_link(tabindex="0", data-trigger="focus", data-container="body", data-toggle="popover", data-placement="right", data-content="Время: Вы сможете забрать ваш заказ после 12-00 часов.") ?
                                                    .radio
                                                        input(type='radio', id='xxx3', name="xxx3")
                                                        label(for="xxx3") Доставить строго ко времени
                                                            span.text--primary  500 ₽
                                                        a.popover_link(tabindex="0", data-trigger="focus", data-container="body", data-toggle="popover", data-placement="right", data-content="Время") ?
                                #tab2
                                    .form-group.row
                                        .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                            label &nbsp;
                                        .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                            p.text--md: b Выберите магазин для получения заказа:
                                    .form-group.row
                                        .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                            label Станция метро:
                                        .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                            select.form-control(name="game")
                                                option(value="1") Адмиралтейская
                                                option(value="2") Озерки
                                                option(value="3") Нарвская
                                    .total
                                        #div1.form-group.row(style="display:block")
                                            .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                                label Магазин
                                                    sup *
                                                    | :
                                            .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                                .radio
                                                    input(type='radio', id='adr1', name="adr1", checked)
                                                    label(for="adr1")
                                                        b Салон в Озерках
                                                        br
                                                        span (2 салона, на входе и выходе из метро)
                                                            br
                                                            | Ежедневно с 08:00 до 23:00
                                                        br
                                                        img(src="images/phone--ico.png", alt="")
                                                        span (812) 456-67-67
                                                .radio
                                                    input(type='radio', id='adr2', name="adr1")
                                                    label(for="adr2")
                                                        b Салон на Гражданском
                                                        br
                                                        span (2 салона, на входе и выходе из метро)
                                                            br
                                                            | Ежедневно с 08:00 до 23:00
                                                        br
                                                        img(src="images/phone--ico.png", alt="")
                                                        span (812) 456-67-67
                                                .radio
                                                    input(type='radio', id='adr3', name="adr1")
                                                    label(for="adr3")
                                                        b Салон на Черной речке
                                                        br
                                                        span (2 салона, на входе и выходе из метро)
                                                            br
                                                            | Ежедневно с 08:00 до 23:00
                                                        br
                                                        img(src="images/phone--ico.png", alt="")
                                                        span (812) 456-67-67
                                        #div2.form-group.row
                                            .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                                label Магазин
                                                    sup *
                                                    | :
                                            .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                                .radio
                                                    input(type='radio', id='adr11', name="adr11", checked)
                                                    label(for="adr11")
                                                        b Салон в Озерках
                                                        br
                                                        span (2 салона, на входе и выходе из метро)
                                                            br
                                                            | Ежедневно с 08:00 до 23:00
                                                        br
                                                        img(src="images/phone--ico.png", alt="")
                                                        span (812) 456-67-67
                                        #div3.form-group.row
                                            .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                                label Магазин
                                                    sup *
                                                    | :
                                            .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                                .radio
                                                    input(type='radio', id='adr2', name="adr2", checked)
                                                    label(for="adr2")
                                                        b Салон на Черной речке
                                                        br
                                                        span (2 салона, на входе и выходе из метро)
                                                            br
                                                            | Ежедневно с 08:00 до 23:00
                                                        br
                                                        img(src="images/phone--ico.png", alt="")
                                                        span (812) 456-67-67
                                    .orderList--item
                                        .orderList_body
                                            .row
                                                .col.col-xlg-4.col-lg-3.col-md-4.text--right.hidden--xs.hidden--sm
                                                    label &nbsp;
                                                .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                                    p.padtop10: a.map__title-js.text--md(href="#")
                                                        b.margright50 Показать на карте
                                                        img(src="images/arrow-down-icon.png", alt="")
                                            .form-group.map.row(style="display:none")
                                                .col.col-xs-12
                                                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.7010449210616!2d30.294294164071164!3d5.95369394862958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f1.1!3m3!1m2!1s0x469631388b4d2903%3A0x12fb9e2295425e70!2z0L_QtdGALiDQndC10YHRgtC10YDQvtCy0LAsIDYvOSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NzE5OA!5e0!3m2!1sru!2sru!4v1459935053310", width="100%", height="363", frameborder="0", style="border:0;pointer-events: none;", allowfullscreen)
                                    .orderList--item
                                        .orderList_title Дата и время получения
                                        .orderList_body
                                            .form-group.row
                                                .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                                    label Дата
                                                        sup *
                                                        | :
                                                .col.col-xlg-3.col-lg-4.col-md-4.col-xs-12
                                                    input.form-control(type='date', placeholder='31.05.2016', required)
                    .orderList--item
                        .orderList_title Комментарии
                        .orderList_body
                            .form-group.row
                                .col.col-xlg-4.col-lg-3.col-md-4.col-xs-12.text--md--right.text--left
                                    label Примечание:
                                .col.col-xlg-5.col-lg-6.col-md-6.col-xs-12
                                    textarea.form-control(rows='6')
                    .orderList--item
                        .orderList_body.padtop20
                            .form-group.row.text--center
                                .col.col-xlg-4.col-lg-3.col-xs-12
                                    p.hidden--md.hidden--sm.hidden--xs: b Стоимость заказа: 14 760 р.
                                        br
                                        | Стоимость доставки: 760 р.
                                    p.orderList-price.text--primary Сумма заказа: 
                                        span 14 760 р.
                                .col.col-xlg-5.col-lg-6.col-xs-12
                                    a.btn.btn--success.btn--block.btn--lg(href="#") Оформить заказ
                                    p.margtop40
                                        sup *
                                        |  - поля обязательные для заполнения
            .col-md-4.center-block.padtop50.padbot50
                a.btn.btn--info.btn--ico.btn--block(href="#")
                    img(src="images/arrow-left-icon.png", alt="")
                    | Вернуться в корзину