main.site-text
    .container
        .site-text__Inner
            .orderFin
                h1 Заказ № 187
                .orderFin--item
                    p.orderFin_title: b Параметры вашего заказа:
                    ul.list--unstyled.list--par.list--par_l
                        li
                            span: b Букет «Римские каникулы»
                            span 1 шт.
                        li
                            span: b Роза сорта Аваланш
                            span 1 шт.
                        li
                            span: b CHRYSAL подкормка для срезанных цветов
                            span 10 шт.
                .orderFin--item
                    ul.list--unstyled.list--par.list--par_s
                        li
                            span: b Способ получения:
                            span Самовывоз
                        li
                            span: b Адрес салона:
                            span м. Черная речка
                        li
                            span: b Дата и время получения
                                br
                                | заказа в салоне:
                            span 14.02.2016с 16:00 до 20:00
                .orderFin--item
                    p.orderFin_title: b Заказчик:
                    ul.list--unstyled
                        li
                            b ФИО:
                            span  Иванов Иван Иванович
                        li
                            b Телефон:
                            span  м. +7 (969) 999-99-99
                        li
                            b Эл. почта:
                            span  123@mail.ru
                .orderFin--item
                    p.orderFin_title: b Примечание:
                    ul.list--unstyled
                        li Нет
                .orderFin--item
                    p.orderFin_title
                        b Способ оплаты:
                        span  оплата банковской картой
                .col-md-8.center-block
                    .text--center.orderFin_price
                        p Сумма заказа: 
                            span 14 760 р.
                    a.btn.btn--success.btn--block.btn--lg(href="#"): b Оплатить заказ
            .orderFin--text.text--center
                h3.margbot20 Свяжитесь со мной для коррекитровки заказа
                .col-md-6.center-block
                   ul.list--inline
                       li.margbot10
                           input.form-control(type="text", name="phone", placeholder='+7(___) ___-__-__')
                       li.margbot10
                           button.btn.btn--info.btn--lg(type="submit") Отправить
