main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Цветы' }
            include ../components/_breadcrumbs
            .row
                include ../components/_filter
                .col.col-lg-9.col-xs-12
                    h1.pull--md--left.pull--lg--left.pull--xlg--left= title.description
                    ul.pull--md--right.pull--lg--right.pull--xlg--right.list--inline.hidden--lg.hidden--xlg.text--center
                        li: a.filter__title.filter__title-js.btn.btn--primary.btn--ico(href="#")
                                img(src="images/ico--filter.png", alt="")
                                | Фильтр
                        li: a.sort__title.sort__title-js.btn.btn--primary.btn--ico(href="#")
                                img(src="images/ico--sort.png", alt="")
                                | Сортировка
                    ul.pull--md--right.pull--lg--right.pull--xlg--right.list--inline.sort
                        li Сортировать:
                        li: select.form-control
                            option По цене
                            option По цене
                            option По цене
                        li: select.form-control
                            option По популярности
                            option По популярности
                            option По популярности
                        li 86 Букетов
                    .clearfix
                    .mainCatalog-inner
                        .mainCatalog-body
                            - for (var x = 0; x < 4; x++)
                                .mainCatalog__item
                                    .mainCatalog__item-img
                                        .mainCatalog__item-img--opacity
                                        img(src="images/product-09.jpg", alt="")
                                        .mainCatalog__item-price 1560
                                            span р.
                                    .mainCatalog__item-name
                                        p: b Артикул 053355836
                                            br
                                            | Букет из роз
                                        p.text--sm.text--success • в наличии
                                    .mainCatalog__item-btn
                                        a.btn.btn--success.btn--md(href="#") Заказать
                                .mainCatalog__item
                                    .mainCatalog__item-unique
                                        .unique.unique--info
                                            .unique--text -20%
                                    .mainCatalog__item-img
                                        .mainCatalog__item-img--opacity
                                        img(src="images/product-10.jpg", alt="")
                                        .mainCatalog__item-price 1560
                                            span р.
                                    .mainCatalog__item-name
                                        p: b Артикул 053355836
                                            br
                                            | Букет из роз
                                        p.text--sm.text--danger доступен по предварительному заказу
                                    .mainCatalog__item-btn
                                        a.btn.btn--success.btn--md(href="#") Заказать
                                .mainCatalog__item
                                    .mainCatalog__item-img
                                        .mainCatalog__item-img--opacity
                                        img(src="images/product-11.jpg", alt="")
                                        .mainCatalog__item-price 1560
                                            span р.
                                    .mainCatalog__item-name
                                        p: b Артикул 053355836
                                            br
                                            | Букет из роз
                                        p.text--sm.text--success • в наличии
                                    .mainCatalog__item-btn
                                        a.btn.btn--success.btn--md(href="#") Заказать
                                .mainCatalog__item
                                    .mainCatalog__item-unique
                                        .unique.unique--primary
                                            .unique--ico
                                    .mainCatalog__item-img
                                        .mainCatalog__item-img--opacity
                                        img(src="images/product-12.jpg", alt="")
                                        .mainCatalog__item-price.mainCatalog__item-price_Sale
                                            p.old 1560
                                                span р.
                                            p 1260
                                                span р.
                                    .mainCatalog__item-name
                                        p: b Артикул 053355836
                                            br
                                            | Букет из роз
                                        p.text--sm.text--danger доступен по предварительному заказу
                                    .mainCatalog__item-btn
                                        a.btn.btn--success.btn--md(href="#") Заказать