main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Отзывы' }
            include ../components/_breadcrumbs
            h1 Отзывы
            .review
                .pull-right.col-xlg-2.col-lg-3.col-md-4.col-xs-12.margbot20
                    a.btn.btn--primary.btn--ico.btn--block(data-toggle='modal', href='#modal-text')
                        img(src="images/plus-icon.png", alt="")
                        | Оставить отзыв
                .clearfix
                .col-lg-8.center-block
                    - for (var x = 1; x < 6; x++)
                        .review__item
                            .pull-right.visible--sm.visible--xs
                                a.review__item-link(href="#"): img(src="images/review-down.png", alt="")
                            .review__item-img
                                img(src="images/review-1.jpg", alt="")
                            .review__item-desc
                                p.review__item-name
                                    span Юлия
                                    |  | 06.03.2016
                                p.review__item-text: i Спасибо большое! Живем очень далеко, в Дубае, но было приятно порадоватьсвекровь и лучшую подругу с День
                                    | Рождение. Заказывала и оплачивала всев послднюю минуту, но доставивли вечером того же дня.
                        .review__item
                            .pull-right.visible--sm.visible--xs
                                a.review__item-link(href="#"): img(src="images/review-down.png", alt="")
                            .review__item-img
                                img(src="images/review-2.jpg", alt="")
                            .review__item-desc
                                p.review__item-name
                                    img(src="images/ico--vk.png", alt="")
                                    a(href="#") Александр Карпенко
                                    |  | 03.03.2016
                                p.review__item-text: i Спасибо большое! Живем очень далеко, в Дубае, но было приятно порадоватьсвекровь и лучшую подругу с День
                                    | Рождение. Заказывала и оплачивала всев послднюю минуту, но доставивли вечером того же дня.
                    include ../components/_paginator
                    .reviewBlock
                        .col-lg-8.col-md-10.center-block
                            h1 Оставить отзыв
                            p.margbot20: i С помощью формы ниже вы можете отправить отзыв о нашей работе
                                    | менеджеру по качеству
                            .form-group
                                textarea.form-control(placeholder='Ваш отзыв', rows="4")
                            .form-group
                                .row
                                    .col.col-sm-4.col-xs-12
                                        label Ваше имя
                                    .col.col-sm-8.col-xs-12
                                        input.form-control(type='text')
                            .form-group
                                .row
                                    .col.col-sm-4.col-xs-12
                                        label Телефон или e-mail
                                    .col.col-sm-8.col-xs-12
                                        input.form-control(type='text')
                            .form-group.text--right
                                buttona.btn.btn--primary.btn--lg(type="submit") Отправить сообщение