main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Поиск' }
            include ../components/_breadcrumbs
            h1 Результаты поиска
            .searchBar
                ul.list--inline
                    li.text--center: b Вы искали «букет из роз», найдено 4 товара
                    li.hidden--xs.searchNav
                        form.navbar-form(role='search')
                            input.form-control(type='text', placeholder='Введите слово или артикул')
                            button.btn.btn-default(type='submit'): img(src="images/icons/ico--search.png", alt="")
            table.tableSearch.table.margtop20.margbot20
                tbody
                    - for (var x = 0; x < 3; x++)
                        tr
                            td.tableSearch-img.t10: img(src="images/img-search.jpg", alt="")
                            td.tableSearch-name
                               p: b Вставка сердечко на палочке
                               p: b Артикул: 2356894
                            td.tableSearch-price.text--center: p: b 590 ₽
                            td.tableSearch-link.t5.text--center: a(href="#"): img(src="images/link.png", alt="")
            include ../components/_paginator