main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'Карта сайта' }
            include ../components/_breadcrumbs
            h1= title.description
            ul.sitemap.sitemap-level1
                li
                    a(href="#") Каталог
                    ul.sitemap-level2
                        li: a(href="#") Букеты
                        li: a(href="#") Розы
                        li: a(href="#") Герберы
                        li: a(href="#") Хризантемы
                        li: a(href="#") Лилии
                        li: a(href="#") Экзотические цветы
                        li: a(href="#") Букеты на 8 марта
                        li: a(href="#") Композиции в виде сердца
                        li: a(href="#") Корзины
                        li: a(href="#") Игрушки из цветов
                        li: a(href="#") Мягкие игрушки
                        li: a(href="#") Коробка с цветами
                li: a(href="#") Как заказать
                li: a(href="#") Оплата
                li: a(href="#") Доставка
                li: a(href="#") Адреса магазинов
                li: a(href="#") Контакты
                li: a(href="#") Сайт компании
                li: a(href="#") Корзина
