main.site-text
    .container
        .site-text__Inner
            - var title = { description: 'История Оранж' }
            include ../components/_breadcrumbs
            h1 Каталог (h1)
            .row
                .col.col-md-6.col-xs-12
                    .contentImg
                        img(src="images/img.jpg", alt="")
                        p: i Магазин цветов
                .col.col-md-6.col-xs-12
                    ul.text-list
                        li Центрального
                        li Петроградского
                        li Василеостровского
                        li Красногвардейского
                        li Выборгского
            .text--center
                h2.text--primary Cеть из 51 цветочных магазинов(h2)
            p Cеть из 51 цветочных магазинов, павильонов и оптовых складов, находящихся в самых оживленных местах районов города:
            h3 Букеты для президента(h3)
            p В цветочных магазинах Оранж были сделаны букеты для президента и премьер-министра России, принца Уэльского и Английской королевы, королевы Нидерландов и
                | президентов США.
            h4.text--success Помощь детям(h4)
            include ../components/_paginator
            .defaultBack
                .row
                    .col.col-lg-2.col-xs-6
                        .form-group
                            select.form-control
                                option Пункт меню
                                option Пункт меню
                                option Пункт меню
                        .form-group
                            select.form-control(disabled)
                                option Пункт меню
                                option Пункт меню
                                option Пункт меню
                        .form-group
                            a.btn.btn--primary.btn--bra(href="#") Хризантемы
                    .col.col-lg-2.col-xs-6
                        .form-group
                            input.form-control(type='text', placeholder='Пункт меню', required)
                        .form-group
                            input.form-control(type='text', placeholder='Пункт меню', disabled)
                    .col.col-lg-2.col-xs-6
                        .form-group
                            input.form-control(type='date', placeholder='31.05.2016', required)
                        .form-group
                            input.form-control(type='date', placeholder='31.05.2016', disabled)
                    .col.col-lg-1.col-xs-6
                        .form-group
                            .radio
                                input(type='radio', id='test12', name="test12", checked)
                                label(for="test12") Тест
                            .radio
                                input(type='radio', id='test11', name="test12")
                                label(for="test11") Тест
                    .col.col-lg-1.col-xs-6
                        .form-group
                            .checkbox
                                input(type='checkbox', id='test2', name="test2", checked)
                                label(for="test2") Тест
                            .checkbox
                                input(type='checkbox', id='test1', name="test2")
                                label(for="test1") Тест
                    .col.col-lg-1.col-xs-6
                        .form-group
                            .input-group.product_quantity_js
                                input.form-control(type="text", value='1')
                                .input-group-btn
                                    button.btn.btn--default.dec(type='button'): img(src="images/arr-up.png", alt="")
                                    button.btn.btn--default.inc(type='button'): img(src="images/arr-down.png", alt="")

                .row
                    .col.col-lg-4.col-xs-12
                        .form-group
                            a.btn.btn--success.btn--lg.btn--block(href="#") Заказать
                        .form-group
                            a.btn.btn--primary.btn--lg.btn--block(href="#") Заказать
                        .form-group
                            a.btn.btn--info.btn--lg.btn--block(href="#") Заказать
                ul.list--inline
                    li
                        a.btn.btn--primary.btn--ico(data-toggle='modal', href='#modal-text')
                            img(src="images/plus-icon.png", alt="")
                            | Оставить отзыв
                    li
                        a.btn.btn--success.btn--ico(data-toggle='modal', href='#modal-busket')
                            img(src="images/post-icon.png", alt="")
                            | Отредактировать
                    li
                        a.btn.btn--info.btn--ico(href="#")
                            img(src="images/bubble-icon.png", alt="")
                            | Посмотреть все отзывы
                .row
                    .col.col-lg-6.col-xs-12
                        .alert.alert-success
                          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                          | Success!
                        .alert.alert-warning
                          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                          | Warning!
                    .col.col-lg-6.col-xs-12
                        .alert.alert-danger
                          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                          | Error!
                        .alert.alert-info
                          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
                          | Info.
            .table-responsive
                table.tableBusket.table.margtop20.margbot20
                    thead
                        tr
                            th.t15 Фото товара
                            th Товар
                            th Цена, шт.
                            th Количество
                            th Сумма
                            th.t5.text--center
                    tbody
                        - for (var x = 0; x < 3; x++)
                            tr
                                td.t15: img(src="images/product-busket.jpg", alt="")
                                td
                                   p: b Артикул: 2356894
                                   p: b Букет «Римские каникулы»
                                td: p: b 12 590 р.
                                td: p: b 12
                                td: p: b 32 890 р.
                                td.t5.text--center.busket__delete-js: a(href="#"): img(src="images/close-busket.png", alt="")