//
// Mixins -> Button
// ------------------------------------

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: lighten($background, 8%);
        border-color: lighten($border, 8%);
  }
  &:hover {
    color: $color;
    background-color: lighten($background, 8%);
        border-color: lighten($border, 8%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
    background-color: darken($background, 5%);
    border-color: darken($border, 5%);
  }
}


@mixin button-variant2($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: $color;
    background-color: darken($background, 8%);
    border-color: darken($border, 8%);
  }
  &:hover {
    color: $color;
    background-color: darken($background, 8%);
    border-color: darken($border, 8%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
    background-color: darken($background, 5%);
    border-color: darken($border, 5%);
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}
