extends layouts/_default

block title
    title Оранж
    - var title = 'Main'

block pageName
    -var pageName = "500"

    main.site-text
        .container
            .site-text__Inner.page500
                .col-lg-6.center-block.text--center
                    img(src="images/500.png", alt="500")
                    .text--left.margtop50.margbot60
                        p Такой страницы не существует.
                            br
                            | Проверьте написание адреса — может быть, вы ошиблись при наборе.
                    ul.list--inline
                        li.margbot20
                            a.btn.btn--info.btn--ico(href="#")
                                img(src="images/arrow-left-icon.png", alt="")
                                | Вернуться на главную
                        li.margbot20
                            a.btn.btn--info.btn--ico.hidden--xs(href="#")
                                img(src="images/tiles-icon.png", alt="")
                                | Воспользоваться каталогом товаров
                            a.btn.btn--info.btn--ico.visible--xs(href="#")
                                img(src="images/tiles-icon.png", alt="")
                                | Каталог товаров

