extends layouts/_default

block title
    title Оранж
    - var title = 'Main'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_card

block siteFooter
    include partials/_footer
